<div class="container-headstart">
    <div class="">
        <div class="vis-col">
            <div id="subdiscipline_title">
                <h4></h4>
            </div>
            <div id="headstart-chart">
                <svg id="chart-svg"></svg>
            </div>
            <div id="paper_frame"></div>
        </div>
        <div class="list-col">
            <div id="list_explorer">
            </div>
        </div>
    </div>
</div>