<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 remove-padding">
            <div id="subdiscipline_title">
                <h4></h4>
            </div>
            <div id="headstart-chart">
                <svg id="chart-svg"></svg>
            </div>
            <div id="paper_frame"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div id="list_explorer">
            </div>
        </div>
    </div>
</div>