<div class="container-headstart">
    <div class="vis-col">
        <div id="subdiscipline_title">

            <h4></h4>

            <p id="context" style="display:none">
                <span id="num_articles"></span>
                <span id="source"></span>
                <span id="timespan"></span>
                <span id="document_types"></span>
                <span id="context-paper_count"></span>
                <span id="context-dataset_count"></span>
                <span id="context-funder"></span>
                <span id="context-project_runtime"></span>
            </p>

        </div>
<div id="modals"></div>
        <div id="headstart-chart">
            
            <svg id="chart-svg"></svg>
        </div>
    </div>
    <div class="list-col">
        <div id="list_explorer">
        </div>
    </div>
</div>