<div class="container-headstart">
    <div id="map-loading-screen" class="loading-screen">
        <div id="loading-text" class="loading-text"></div>
        <div id="loading-spinner" class="loading-spinner">
            <span id="spinner-map-icon" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </div>
    </div>
    <div class="vis-col">
        <div id="mvp_container" style="min-height: 54px;"></div>

        <div id="modals"></div>
        <div id="headstart-chart"></div>
    </div>
    <div id="list-col" class="list-col">
    </div>
</div>
<div id="created_by"></div>
<div id="toolbar" class="toolbar"></div>