<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div id="subdiscipline_title"></div>
            <div id="headstart-chart"></div>
            <div id="paper_frame"></div>
        </div>
        <div class="col-md-4">
            <div id="papers_list_container">
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>