<div class="container-fluid">
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6">
            <div id="subdiscipline_title">
                <h4></h4>
            </div>
            <div id="headstart-chart">
                <svg id="chart-svg"></svg>
            </div>
            <div id="paper_frame"></div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
            <div id="list_explorer">
            </div>
        </div>
    </div>
</div>