<div class="vis-col">
    <div id="subdiscipline_title">
        <h4></h4>
    </div>
    <div id="headstart-chart">
        <svg id="chart-svg"></svg>
    </div>
</div>
<div class="list-col">
    <div id="list_explorer">
    </div>
</div>