<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div id="subdiscipline_title"></div>
            <div id="headstart-chart"></div>
            <div id="paper_frame"></div>
        </div>
        <div class="col-sm-3">
            <div id="list_explorer">
            </div>
        </div>
    </div>
</div>