<div class="container-headstart">
    <div id="map-loading-screen" class="loading-screen">
        <div id="loading-text" class="loading-text"></div>
        <div id="loading-spinner" class="loading-spinner">
            <span id="spinner-map-icon" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </div>
    </div>
    <div class="vis-col">
        <div id="mvp_container" style="min-height: 54px;"></div>

        <div id="modals"></div>
        <div id="headstart-chart"></div>
    </div>
    <div id="list-col" class="list-col">
    </div>
</div>

{{#if credit_embed}}
<div id="credit_embed"
    style="position:absolute; left:0px; bottom:0px; font-size:10px; background-color:#eff3f4; padding:0px 0px 0px 5px; border-radius: 0px 50px 50px 0px; -webkit-border-radius: 0px 50px 50px 0px; -moz-border-radius: 0px 50px 50px 0px;">
    <a href="{{ canonical_url }}" target="_blank">created by <b>Open Knowledge Maps </b>
        <img id="credit_logo" style="height:30px; padding:0px">
    </a></div>
{{/if}}