<div class="row">
    <div class="col-xs-12" id="explorer_header">
        <div id="show_hide_button" class="row">
            <div class="col-xs-2" >▼</div>
            <div class="col-xs-8" id="show_hide_button_label">
                <strong id="show_hide_label">Show list</strong>
            </div>
            <div class="col-xs-2 text-right">▼</div>
        </div>
        <div id="explorer_options" class="row">
            <div class="col-xs-4" id="filter_container">
                <div class="input-group input-group-sm">
{{!--                     <div class="input-group-addon input-sm">
                      <span class="glyphicon glyphicon-search"></span>
                    </div> --}}
                    <input id="filter_input" type="text" class="form-control">
                    <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
                </div>
            </div>
            <div class="col-xs-8" id="sort_container">
                <div id="sort-buttons" class="btn-group btn-group-sm pull-right" data-toggle="buttons" role="group">
                </div>
            </div>
        </div>
    </div>
<div class="col-xs-12" id="papers_list"></div>
