<div class="row">
    <div class="col-xs-12" id="show_hide_container">
        <div class="row">
            <div class="col-xs-2" id="left_arrow">▼</div>
            <div class="col-xs-8" id="show_hide_label_container">
                <strong id="show_hide_label">Show list</strong>
            </div>
            <div class="col-xs-2" id="right_arrow"">▼</div>
        </div>
        <div class="row">
            <div class="col-xs-4" id="input_container" style="display: block;">
                <input type="text" size="15">
            </div>
            <div class="col-xs-8" id="sort_container" style="display: none;">
                <ul class="filter pull-right"></ul>
            </div>
        </div>
    </div>
<div class="col-xs-12" id="papers_list" style="display: none;"></div>
