<div class="list_metadata">
    <div class="list_title">
	<a href="#" id="paper_list_title" class="highlightable"></a>
	<a href="#" target="_blank" class="outlink">&nbsp;&#xf08e;</a>
    </div>
	<p class="list_details highlightable">
		<span class="list_authors"></span>
		<span class="list_in"> in </span>
		<span class="list_published_in"></span>
		<span class="list_pubyear"></span>
	</p>
</div>
<div class="highlightable">
	<p id="list_abstract"></p>
</div>
<div id="list_area">
	<span class="area_tag"></span> <span class="area_name"></span>
</div>
<div class="list_readers">
	<span class="num_readers"></span> <span class="list_readers_entity"></span>&nbsp;
</div>