<div class="container-fluid">
    <div id="subdiscipline_title">
        <h4></h4>
    </div>
    <div id="tl-titles">
    </div>
    <div id="headstart-chart">
        <svg id="chart-svg"></svg>
    </div>
</div>