
/* Clear button in input form */

#searchclear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
  display: none;
  z-index: 100;
}

img#close-button {
  float: right;
  margin-right: 5px;
}