/* Clear button in input form */

#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    display: none;
    z-index: 100;
}

img#close-button {
    float: right;
    margin-right: 5px;
}

#modals {
    display:inline-block;
    width:50px;
    vertical-align:top;
    margin: 20px 20px 0 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
}

#modals .btn {
    background-color: $okm-modal-btn;
    border-color: $okm-modal-btn;
    margin-bottom: 5px;
    padding: 12px 12px;
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

#modals .btn:hover {
    background-color: white;
    border-color: $okm-modal-btn;
    color: $okm-modal-btn;
    margin-bottom: 5px;
    padding: 12px 12px;
    -moz-box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0px rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0px rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
}

#modals .fa-pencil-square-o, #modals .fa-code {
    font-size:20px;
}

.modal-content .btn-primary {
    color: #fff;
    background-color: $okm-modal-btn;
    border-color: $okm-modal-btn;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
}
    
.modal-content .btn-primary:hover {
    background-color: white;
    border-color: $okm-modal-btn;
    color: $okm-modal-btn;
}