/* Clear button in input form */
#searchclear {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 10px;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index: 100;
}

.searchfield-icon {
    position: absolute;
    left:7px;
    top: 0;
    bottom: 10px;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index: 9; /*it was at 100 previously but that means it'll stick on top of the header of the website'*/
}

img#close-button {
    float: right;
    margin-right: 5px;
}

#modals {
    vertical-align:top;
    margin: 20px 20px 0 0;
    font-family: $link-font-family;
}

#modals .btn {
    font-size: 15px;
    height: 46px;
    width: 46px;
    background-color: $okm-modal-btn;
    border-color: $okm-modal-btn;
    margin-bottom: 5px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    padding: 0px;
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

#modals .btn:hover {
    background-color: white;
    border-color: $okm-modal-btn;
    color: $okm-modal-btn;
    -moz-box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0px rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0px rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
}

#modals .btn:active {
    background-color: white;
    border-color: $okm-modal-btn;
    color: $okm-modal-btn;
    -moz-box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0px rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0px rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
}

#modals .sharebuttons {
    display: none;
}

.modal-content .btn-primary {
    color: #fff;
    background-color: $okm-modal-btn;
    border-color: $okm-modal-btn;
    font-family: $link-font-family;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    padding: 10px 20px;
    font-size: 12px;
}

.modal-content .btn-primary:hover {
    background-color: white;
    border-color: $okm-modal-btn;
    color: $okm-modal-btn;
}

.modal-content .btn-primary:focus {
    background-color: $okm-modal-btn;
    border-color: $okm-modal-btn;
    color: white;
}

@if ($skin == "cris_vis") {
    #searchclear {
        right: 8px;
        bottom: 0px;
    }
    
    .searchfield-icon {
        bottom: 0px;
    }
}

@if ($skin == "linkedcat") {
    
    .searchfield-icon {
        z-index: 9;
    }
     
    #modals .btn {
        font-size: 13px;
        width: 38px;
        height: 38px;
    }
}

@if ($skin == "covis") {
    
    .searchfield-icon {
        z-index: 9;
    }
}

@if ($skin == "triple") {
    #modals .btn {
        font-size: 13px;
        width: 38px;
        height: 38px;
    }
}

.sharebuttons button {
    margin-left: 3px;
}

.reload-button {
    color: white;
    background-color: #cc3b6b;
    cursor: pointer;
    display: block;
    padding: 12px 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    max-width: 179px;
    font-family: 'Lato', sans-serif;
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    &.small-reload {
        max-width: 44px;
    }
}

#citationlink {
    font-size: 10px;
}

.paper_buttons_row {
    margin: 10px 0px 15px;
}

.paper_button {
    color: white;
    background-color: $okm-modal-btn;
    cursor: pointer;
    font-weight: normal;

    padding: 6px 4px;
    width: 70px;
    margin-right: 3px;

    border: 1px solid $okm-modal-btn;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;

    .highlighted {
        color: $okm-red;
    }

    &:hover {
        color: $okm-modal-btn;
        background-color: white;
    }

    &.main {
        background-color: $okm-red;
        border-color: $okm-red;
    
        &:hover {
            color: $okm-red;
            background-color: white;
        }
    }
}

@media screen and (max-width: 1150px) {
    #modals .btn, .reload-button.small-reload {
        font-size: 13px;
        width: 38px;
        height: 38px;
    }

    .reload-button.small-reload {
        padding: 10px 12px;
    }
}