/* Create a very small input group*/

.input-group-xs > {
    .form-control, .input-group-addon, .input-group-btn > .btn {
        height: 22px;
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
    }
}