/* Base */
body {
  color: black;
  font-size: 10px;
  font-family: Helvetica;
  font-weight: normal;
  line-height: 1.6; }

/* Vendor Dependencies */
.remove-padding {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0; }

#spinner {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.glyphicon-refresh {
  font-size: 3em; }

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear; }

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg); }
  to {
    transform: scale(1) rotate(360deg); } }
/* Clear button in input form */
#searchclear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
  display: none;
  z-index: 100; }

img#close-button {
  float: right;
  margin-right: 5px; }

/* Create a very small input group*/
.input-group-xs > .form-control, .input-group-xs > .input-group-addon, .input-group-xs > .input-group-btn > .btn {
  height: 22px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5; }

#subdiscipline_title {
  margin: 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px; }
  #subdiscipline_title h4 {
    margin-bottom: 0px;
    margin-top: 0px; }

#infolink {
  color: #a70805; }

/* ################ Papers ############### */
div.metadata {
  /*word-wrap: break-word;*/
  overflow: hidden;
  margin: 0;
  padding: 0;
  /*white-space: pre-wrap;*/
  white-space: -moz-pre-wrap; }

foreignobject#article_metadata {
  font-family: Helvetica;
  line-height: 10px;
  overflow: hidden; }

div#intro {
  font-family: Helvetica;
  padding: 10px;
  background-color: white; }
  div#intro h2 {
    font-family: Helvetica;
    font-size: 16px;
    margin-bottom: 0;
    padding: 0;
    color: black;
    background-color: transparent; }
  div#intro h3 {
    padding: 0; }
  div#intro p {
    font: 14px 'Helvetica', sans-serif;
    margin-bottom: 10px;
    padding: 0;
    color: black; }
  div#intro ul {
    margin-bottom: 10px;
    list-style: disc; }
  div#intro li {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 11px;
    margin-left: 11px;
    padding-left: 11px; }
div#article_metadata p, div.metadata p {
  font: 8px 'Helvetica', sans-serif;
  line-height: 8px;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #a70805; }
div.readers {
  overflow: hidden; }
  div.readers p {
    font: 8px 'Helvetica', sans-serif;
    line-height: 8px;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #a70805; }
div#article_metadata p.large, div.metadata p.large, div.readers p.large {
  font-size: 12px;
  line-height: 12px;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 5px;
  /*font-weight:bold;*/ }
div#article_metadata p.larger, div.metadata p.larger, div.readers p.larger {
  font-size: 14px;
  line-height: 14px;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 5px; }

p#details {
  /*margin-top: 3px;*/
  padding-top: 3px;
  padding-left: 5px;
  color: #216500; }
p#in {
  padding-right: 0;
  color: #666666; }

span.pubyear {
  font-style: italic;
  color: black; }

div#area_title {
  word-break: break-word;
  display: table-cell;
  overflow: hidden;
  vertical-align: middle; }
div.readers {
  margin-top: 0;
  padding-right: 5px;
  padding-bottom: 0;
  text-align: right;
  color: black; }
div.readers_large {
  margin-top: 0;
  padding-right: 5px;
  padding-bottom: 3px;
  text-align: right;
  color: black; }

p#readers {
  line-height: 8px;
  padding: 0;
  text-align: right;
  vertical-align: text-bottom;
  color: black; }
  p#readers.large {
    margin-bottom: 3px;
    padding: 3px 2px 0 0; }
  p#readers.larger {
    padding: 3px 2px 0 0; }

span.readers_entity {
  font: 8px 'Helvetica' sans-serif;
  font-weight: normal;
  color: #666666; }

/* ################ Chart ############### */
div#headstart-chart {
  /*position: absolute;*/
  font-family: Helvetica;
  /*margin-top: 6px;*/ }

#chart-svg {
  overflow-x: scroll; }

rect {
  fill: #1f77b4;
  fill-opacity: .0;
  stroke: #1f77b4;
  stroke-width: 0; }

circle {
    /*fill: rgb(31, 119, 180);
fill-opacity: .25;*/
  fill: #d2e4f0;
  fill-opacity: .8;
  stroke: #1f77b4;
  stroke-width: 1px; }
  circle.zoom_unselected {
    fill: #1f77b4;
    fill-opacity: .1;
    stroke-width: 0; }
  circle.zoom_selected {
    /*fill: rgb(31, 119, 180);*/
    fill-opacity: 1;
    /*fill: rgb(219, 233, 243);*/
    fill: #f1f6fa;
    stroke-width: 1px; }
  circle.area {
    fill: #d2e4f0;
    fill-opacity: .8; }

path {
  fill: white;
  fill-opacity: .25;
  stroke: gray;
  stroke-width: 1px; }

.framed {
  stroke: #e55137;
  stroke-width: 3px; }

.framed_recommended {
  stroke: yellow;
  stroke-width: 3px; }

.framed_bookmarked {
  stroke: green;
  stroke-width: 2px; }

.recommended {
  font-size: 10pt;
  font-weight: bold;
  color: black;
  border: 1px yellow solid;
  background-color: yellow; }

.bookmarked {
  font-size: 10pt;
  color: black;
  border: 1px green solid; }

.tobookmark {
  font-size: 10pt;
  font-weight: bold;
  color: white;
  border: 1px green solid;
  background-color: green; }

line {
  stroke: #1f77b4;
  stroke-width: 1px; }

#area_title {
  margin: 0;
  padding: 0; }
  #area_title h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 11px;
    margin-bottom: 11px;
    padding: 0;
    text-align: center;
    text-transform: none;
    color: black;
    background-color: transparent; }

text {
  font: 10px sans-serif; }

foreignobject body {
  position: static;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  word-break: break-all;
  background-color: transparent; }
foreignobject#article_metadata body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent; }
foreignobject#area_title_object body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent; }
foreignobject#area_title_object.is_hidden {
  visibility: hidden; }

/* ################ List Explorer ############### */
#list_explorer {
  /*    margin-top: -27px;
      margin-bottom: -27px;
      position: relative;*/ }

#explorer_header {
  background-color: #eee; }

#show_hide_button {
  cursor: pointer; }
  #show_hide_button.hover {
    background-color: #666;
    color: #eee; }

#show_hide_button_label {
  font-family: 'Helvetica';
  font-size: 14px;
  font-weight: 400;
  float: left;
  text-align: center; }

#explorer_options {
  padding-top: 5px;
  padding-bottom: 5px; }

#filter_container {
  float: left;
  display: block; }

#filter_input {
  padding-right: 22px; }

#sort_container {
  float: right;
  display: none; }

#papers_list {
  float: right;
  overflow-y: scroll;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  display: none; }

div.list_metadata {
  border-top-width: 1px;
  border-top-style: solid; }
  div.list_metadata p {
    font: 12px 'Helvetica', sans-serif;
    padding: 0; }

.list_details p {
  font: 12px 'Helvetica', sans-serif;
  padding: 0; }

p#list_title {
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: 5px;
  padding: 0;
  /*line-height: 18px;*/ }
  p#list_title a {
    text-decoration: none;
    color: #a70805; }
    p#list_title a:hover {
      text-decoration: underline; }

a.outlink {
  font-family: FontAwesome;
  text-decoration: none; }

.list_details {
  font-size: 12px;
  line-height: 14px;
  margin-top: 3px;
  color: #216500; }

p#list_abstract {
  font: 12px 'Helvetica', sans-serif;
  font-size: 11px;
  line-height: 11px;
  padding-right: 0;
  padding-left: 7px;
  color: #444444;
  border-left: solid 2.5px #e9e9e9; }

span.list_in {
  color: #666666; }
span.list_pubyear {
  font-style: italic;
  color: black; }

p#list_area {
  font-family: 'Helvetica';
  font-size: 11px;
  line-height: 11px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  color: black; }
p#list_readers {
  font-size: 11px;
  line-height: 11px;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
  text-align: right;
  vertical-align: text-bottom;
  color: black; }

span.list_readers_entity {
  font: 11px 'Helvetica' sans-serif;
  font-weight: normal;
  color: #666666; }

div#preview_image {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid; }
div#transbox {
  display: none;
  cursor: pointer;
  opacity: .9;
  background-color: rgba(255, 255, 255, 0.6); }
div#preview_page_index {
  font-size: 11px;
  height: 20px;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
  background-color: #eee;
  text-shadow: 0 1px 1px white; }

img#preview_page {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: 1px solid; }

/* ########### Timeline ########### */
line {
  stroke: black;
  stroke-width: .15px; }
  line.connection {
    stroke: red;
    stroke-width: 2; }

.tl-title {
  float: left;
  text-align: center; }

/* ########### Paper Frame/Popup ########### */
div#paper_frame {
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.6); }
div#paper_frame_inner {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  /*float: right;*/ }
div#paper_frame_bar {
  margin-top: 5px;
  margin-bottom: 5px;
  /*float: right;*/
  cursor: pointer; }
div#shadow-top {
  height: 5px;
  box-shadow: inset 0 8px 8px -8px #333; }
div#shadow-bottom {
  height: 5px;
  box-shadow: inset 0 -8px 8px -8px #333; }
div#preview {
  overflow: auto;
  overflow-y: scroll;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eee;
  align: center; }

/* ########### Modals ########### */
#iframe_modal .modal-body {
  height: 75vh;
  width: 100%;
  display: table; }

#pdf_iframe {
  width: 100%;
  height: 100%; }

.modal {
  text-align: center;
  padding: 0 !important; }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
    /* Adjusts for spacing */ }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

/*# sourceMappingURL=main.css.map */
