* {
    box-sizing: content-box;
    transition: 0.03s ease-in;
}

body {
    font-family: 'Lato', sans-serif; 
    padding: 0px;
    width:100%; 
    color: #333;
    font-size: 16px;
    background-color: #f7f7f7;
}

a {
    color: #0047bb;
    text-decoration: underline;
}

.page img {
    width: 100%;
}

.bg-image-startpage {
    /*position: absolute;*/
    background-size: cover;
    background-attachment: fixed;
    /*height: 100vh;*/
    /*text-transform: uppercase;*/ 
    padding: 0 0 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0,0,0, 0.2)), url(./img/background-start-2.jpg); 
    background-repeat: no-repeat;
    background-position: 100% 86%;
}

.bg-tagline-startpage {
    padding: 5% !important;
    background-color: transparent;
    border-bottom: 0px solid #ddd;
    text-align: center;
}

.project-description {
    font-family: 'Josefin Sans', sans-serif;
    color: white; 
    text-shadow:1px 1px 10px black; 
    font-size: 42px;
    line-height: 120%;
    font-weight: 700;
    max-width: 1100px;
    margin: 100px auto 0;
}

.search {
    /*position: relative; margin: 20% auto 0;*/ 
    text-transform: none; 
    max-width:600px; 
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    background-color: transparent; 
    padding: 0px 10px;
}

.shadow, .shadow2 {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.search #progress {
    /*max-width:600px;*/ 
    margin: 0px auto;
}

.library {
    max-width:600px;
    margin: 0px auto;
}

.search-btn {
    font-family: 'Josefin Sans', sans-serif; 
    text-transform: uppercase; 
    border: 0px; 
    margin: 20px 0 0;
    padding: 20px 0;
    border-radius: 17px; 
    font-size: 14px;
    background-image: linear-gradient(rgba(0,71,187,1), rgba(0,71,187,1)); 
    color: white; width:100%; padding: 10px 3px;
}

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-top: 0;
    margin-left: 0px;
}

.search .search-btn:hover, .shadow:hover {
    background-image: linear-gradient(rgba(28,59,112,1), rgba(28,59,112,1));
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 0px 0px rgba(0,0,0,0.12), 0 0px 0px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 0px 0px rgba(0,0,0,0.12), 0 0px 0px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 0px 0px rgba(0,0,0,0.12), 0 0px 0px 0 rgba(0,0,0,0.2);
}

.author-btn, .keyword-btn {
    width:238px;
    text-align: center;
    padding: 15px 30px;
    display: inline-block;
    font-size: 18px;
    background-color: white;
    opacity: 0.8;
}

.btn-enabled {
    color: #0047bb;
    background-color: white;
    opacity: 1;
}

.awesome {
    font-family: 'FontAwesome';
}

.search .btn, .frontend-btn {
    font-family: 'Josefin Sans', sans-serif; 
    text-transform: uppercase;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    color: #0047bb;
    font-size: 12px;
    background: #ffffff;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #0047bb;
    width: 140px;
}

.btn-group > .btn {
    position: relative;
    float: none;
}

.btn-group {
    display: block;
    margin-bottom: 10px;
}

.search .btn {
    width: 240px;
    padding: 10px 0px;
    font-family: 'Lato', sans-serif;
}

.search .inputfield {
    height: 37px;  
    width: 100%;
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    border: 1px solid #333;
}

.credits {
    text-transform: none; 
    color: #f7f7f7;
    display: inline-block;
    /*position: absolute; 
    right: 0px;
    bottom: 20px;*/
    font-size: 9px; 
    text-align: right;
    float: right;
    vertical-align: middle;

}

.credits2 {
    text-transform: none; 
    color: #f7f7f7; 
    display: inline-block;
    /*position: absolute; 
    left: 20px;
    bottom: 20px;*/ 
    font-size: 9px; 
    text-align: left;
    padding-left: 20px;
    vertical-align: middle;
}

.divity {
    display: block;
}

.frontend-hidden {
    display: none;
}

.visible {
    display: block;
}

label {
    display: inline;
    font-weight: normal;
    text-transform: none;
}

#filter-container {
    margin: 0px auto;
    font-family: 'Josefin Sans', sans-serif; 
    text-transform: uppercase; 
    border-radius: 17px; 
    color: #0047bb !important; 
    text-decoration: none;
    padding: 10px 30px 0;
}

#filter-btn {
    margin-bottom: 23px;
    margin-right: 20px;
    margin-top: 5px;
}

.refine-search {
    text-decoration: underline;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.time_input {
    max-width: 240px;
}

#filters {
    margin-bottom: 10px;
}

#stats {
    margin-bottom: 30px;
    margin-top: 30px;
}

.dropdown {
    padding: 5px;
}

.whitelink {
    text-decoration: underline;
    color: white;
}

.frontend-btn:hover, .frontend-btn:active, .frontend-btn:focus {
    background: #0047bb;
    color: white;
    text-decoration: none;
}

.div {
    display: block; 
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#input-container {
    margin-bottom: 30px;
}

#input-container label {
    color: #333;
}

.radio-inv {
    visibility:hidden;
}

.submit-btn {
    padding: 3px 12px;
}

.caret {
    border-radius: 0px 4px 4px 0px;
    background: #CCC linear-gradient(to top, #CCC 0%, #EEE 60%) repeat scroll 0% 0%;
}

.multiselect {
    background-color: #fff;
    height: 18px;
}

.createdby {
    font-family: 'Lato', sans-serif;
    margin: 10px; 
    font-size: 12px; 
    padding-left: 20px;
}

/*radio Button transformed*/
/* The container */
.radio-button {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-size: 16px;
    width: 160px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 17px;
}

/* Hide the browser's default radio button */
.radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 10px;
    left: 16px;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-button:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-button input:checked ~ .checkmark {
    background-color: #0047bb;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-button .checkmark:after {
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.radio {
    text-transform: none;
}

.checkbox, .radio {
    font-family: 'Lato', sans-serif;
}

.popover-selection {
    color: #333;
    font-family: 'Lato', sans-serif;
    text-transform: none;
    margin-left: 42px;
    font-size: 12px;
    text-transform: uppercase;
}

.info-btn {
    cursor: help;
    margin-left: 10px;
    font-size: 12px;
    text-decoration: underline;
}

.info-btn2 {
    cursor: help;
    color: #0047bb;
    text-decoration: underline;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #0047bb;
}

.dropdown-menu {
    min-width: 240px;
}

.multiselect-container > li > a > label { 
    line-height: 30px;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
    position: inherit;
    margin-right: 10px;
}
.btn-group {
    margin-right: 10px;
}

.ui-widget-header {
    border: 1px solid #0047bb;
    background-color: #0047bb; 
}

.ui-progressbar {
    height: 1em;
}

#progress p {
    color: white;
}

label.q-error, #input-container label.q-error, .timefield .error {
    color: red;
    /*background-color: red;*/
    /*border-radius: 10px;*/
    /*padding: 5px;*/
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.timefield #from-error {
    padding-left: 10px;
    color: red;
}

#include_content_type-error {
    /*background-color: transparent;*/
    color: red;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    position: absolute;
    top: 215px;
    border-radius: 0px;
    margin: 0px 20px;
    padding: 3px;
}

#input-container label.q-error {
    color: red;
    background-color: white;
}

.label-hide {
    display: none;
}

.label-show {
    display: inline-block;
}

.timefield {
    margin-bottom: 10px;
}

.timefield label {
    display: inline-block;

    font-family: 'Lato', sans-serif;
}

.timefield #from {
    margin-left: 8px;
}

.timefield #to {
    margin-left: 13px;
}

.selectrange {
    color: #333;
    text-transform: none;
    font-family: 'Lato', sans-serif;
}

.submit-btn {
    display: inline-block;
    padding-top: 10px;
    margin-left: 20px;
}

#download {
    margin-top: 510px;
    margin-left: 30px;
}

.input_items {
    display: inline-block;
    vertical-align: middle;
}

.btn {
    margin-left: 10px;
    width: 100px;
}

.waiting-page-img {
    /*position: absolute;*/
    background-size: cover;
    background-attachment: fixed;
    /*bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;*/
    padding: 0px;
    background-image: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0.7)), url(./img/waiting-bg2.jpg); 
    background-repeat: no-repeat;
    background-position: center center;
}

.waiting-box {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 30%;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #333;
}

.waiting-title {
    color: #0047bb;
    font-family: 'Lato', sans-serif; 
    font-size: 24px;
}
.btn-group.open .dropdown-toggle, .dropdown-toggle {
    overflow: hidden;
}

#authors-loading {
    display: none;
}

/*ICONS*/
.fa-info-circle {
    font-size: 12px;
    color: #818181;
}

/*SEARCH BOX*/
.additional-information p {
    max-width:600px; 
    padding: 36px 30px 10px;
    font-size: 16px;
}

.autocomplete-suggestion {
    line-height: 40px !important;
    font-size: 14px !important;
    padding-left: 20px !important;
}

/*BROWSE PAGE*/

.browse-description {
    max-width: 750px; 
    margin: 0px auto; 
    padding: 2% 0;
    background-color: #0047bb;
    opacity: 0.8;
}

.browse-description p {
    text-align: center; 
    font-size: 20px;
    color: white; 
    padding: 0px 20px;
    text-transform: none;
}

.browse-description h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    /*text-shadow:1px 1px 10px black;*/
    text-align: center;
}

.page-description {
    background-color: white;
    padding: 40px;
}

/*FAQs page*/
.question {
    padding: 40px 0px 20px; 
    margin: 0px;
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-size: 24px;
    line-height: 150%;;
}

.paragraph-style li {
    margin-left: 40px;
}

.page-section {
    max-width:750px; 
    margin: 0px auto 40px; 
    font-size: 16px;
}

/*About Page*/
.headline4 {
    text-transform: uppercase;
    color: #0047bb;
}

.circle {
    border: 1px solid #0047bb;
    border-radius: 90px;
    width: 180px;
    height: 180px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #0047bb;
    font-family: 'Josefin Sans';
}

.page-headline {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    margin-top: 50px;
}

.page {
    max-width: 1200px;
    margin: 0px auto;
    padding: 90px 20px 0;
}

.paragraph-style {
    padding: 0px 0 20px;
    margin: 0;
    font-size: 16px;
}

.example {
    margin-bottom: 20px;
    font-size: 12px;
}

.abstand {
    margin-bottom: 10px;
}

.partner-logo {
    max-width:150px;
    padding: 20px 40px 0px 0;
}

.browse {
    display: block;
    width: 200px;
    background: transparent;
    border: 1px solid #0047bb;
    color: #0047bb;
    text-align: center;
    margin: 20px 0 0 0;
    text-decoration: none;
}

.browse:hover,  .browse:active, .browse:focus {
    background-color: #0047bb;
    color: white;
    text-decoration: none;
}

.stats {
    margin: 0px auto; 
    padding: 20px; 
    text-align: center;
}

.stats div {
    display: inline-block; 
    text-align:center; 
    padding: 0px 40px;
}

.img1 {
    display: inline-block; 
    width:49%; 
    vertical-align:top;
}

.img2 {
    display: inline-block; 
    width: 50%; 
    vertical-align: top;
    padding-right: 20px;
}

.img2 img {
    max-width: 500px;
}

.img3 {
    display: inline-block; 
    width:40%; 
    vertical-align: top;
}

.mobile-image {
    display: none;
}

.refine-search {
    text-transform: none;
    font-family: 'Lato', sans-serif;
}

.btn-group.open .dropdown-toggle, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:active, .search .btn:hover {
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px 
        rgba(0,0,0,.125);
    background-color: #0047bb;
    color: white;
    text-decoration: none;
    border-color: #0047bb;
}

.sec-katalog {
    padding: 50px 20px 20px;
}

.description2 {
    font-size: 30px; 
    margin-top:40px;
}

@media screen and (max-width: 900px) {

    .project-description {
        font-size: 32px;
    }

    .stats div {
        padding: 0px 20px;
    }

    .circle {
        font-size: 16px;
        width: 140px;
        height: 140px;
    }

    .stats {
        padding: 0px;
    }
}

@media screen and (max-width: 600px) {

    .project-description {
        font-size: 32px;
    }

    .author-btn, .keyword-btn {
        width: 95px;
        font-size: 14px;
    }

    .additional-information p {
        font-size: 14px;
    }

    .search .inputfield {
        font-size: 12px;
    }

    .page-description {
        padding: 20px;
        font-size: 14px;
    }

    .h3, h3 {
        font-size: 18px;
    }

    .page-section, .paragraph-style, body {
        font-size: 14px;
    }

    .img1, .img3, .mobile-image {
        display: block;
        width: 100%;
    }

    .img2 {
        display: none;
    }

    .question {
        padding: 20px 0px 10px;
    }

    .stats {
        margin: 0px;
        text-align: left;
    }

    .circle {
        border: 1px solid #0047bb;
        border-radius: 27px;
        width: 90%;
        height: auto;
        text-align: center;
        font-size: 18px;
        padding: 20px;
    }

    .stats div {
        padding: 0px;
    }

    .sec-katalog {
        padding: 50px 0px 20px;
    }

    .paragraph-style li {
        margin-left: 20px;
    }

    .mobile-image {
        padding-bottom: 20px;
    }

    .description2 {
        font-size: 24px; 
    }

    .page-headline {
        font-size: 30px;
        margin-top: 20px;
    }

    .waiting-box {
        top: 5%;
        left: 5%;
right: 5%;
        font-size: 14px;
    }
    
    .waiting-title {
        font-size: 18px;
    }

}

@media screen and (max-width: 400px) {

    .project-description {
        font-size: 24px;
    }

    .checkmark {
        top: 14px;
        left: 16px;
        height: 18px;
        width: 18px;
    }

    .radio-button {        
        width: 85%;
        display: block;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .radio-button .checkmark::after {
        top: 6px;
        left: 6px;
        width: 6px;
        height: 6px;
    }

    .info-btn {
        margin-left: 0px;
        font-size: 14px;
    }

    .timefield #from-error {
        padding-left: 0px;
    }

}