/*MENU*/
header {
    padding: 20px 0px 15px;
    position: fixed;
    width: 100%;
    /*max-width:1600px;*/
    background-color: white;
    text-align: left;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 4px 0px #cacfd3;
    -moz-box-shadow: 0px 0px 4px 0px #cacfd3;
    box-shadow: 0px 0px 4px 0px #cacfd3;
}

header a {
    color: #333;
    text-decoration: none;
}

header #logo a:hover {
    text-decoration: none;
}

.nav_top {
    display: inline-block;
    text-align: left;
    color:white;
    background-color: transparent;
    font-size: 16px;
    /*line-height: 80%;*/
    margin: 0px 0px 0px 50px !important;
    vertical-align: bottom;
    position: absolute;
    right: 50px;
    top: 40%;
    font-family: 'Josefin Sans', sans-serif;
}

.imglogo {
    display: inline-block; 
    vertical-align: bottom;
    margin-bottom: 10px; 
    padding: 0px 10px;
}

.imglogo img {
    max-height: 42px;
    width: auto;
}

.description a {
    color: #0047bb;
}

.description a:hover, .description a:focus, .description a:active {
    text-decoration: none;
}

.description {
    text-transform: uppercase;
    font-size: 34px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #0047bb;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 20px;
}

.nav_top li:last-child {
    display: inline;
    margin-right: 0px;
    margin-left: 0px;
}

.nav_top li {
    display: inline-block;
    margin-right: 30px;
    text-transform: uppercase;
    vertical-align: bottom;
}

.nav_top li {
    transition: all .5s ease-in-out;
    border-bottom: 2px solid transparent;
}

.nav_top a:hover, .nav_top a:active, .nav_top a:focus, .underline-menu  {
    border-bottom: 2px solid #0047bb;
    text-decoration: none;
    color: #0047bb;
}
/*TOGGLE MENU CSS*/
.menu {
    top: 0;
    display:none;
    background-color: white;
    left: -285px;  /* start off behind the scenes */
    height: 100%;
    position: fixed;
    width: 285px;
}

.menu ul {
    border-top: 1px solid #cacfd3;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

.menu li {
    border-bottom: 1px solid #cacfd3;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 230%;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}

.menu a {
    font-size: 16px;
    text-decoration: none;
    text-transform: none;
    display: block;
    color: #00122f;
    text-transform: uppercase;
}

.icon-close {
    cursor: pointer;
    padding: 5px 0px 5px 20px;
    background-color: #00122f;
    color: white;
    font-size: 28px;
}

.icon-menu {
    display:none;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    margin: 0px 0px 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    text-align:left;
    background-color: none;
    color: #00122f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.fa-bars {
    padding: 6px 8px 8px;
    font-size: 18px;
    border: 1px solid #00122f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.topheader {
    padding-top: 65px;
}

/*Headstart Menu*/

.vis-page .description a {
    color: white;
    font-size: 20px;
}

.vis-page header a {
    color: white;
}

.vis-page header .menu a {
    color: #00122f;
    text-transform: uppercase;
}

.vis-page .nav_top {
    font-size: 13px;
}

.vis-page header {
    background-color: #00122f;
}

.vis-page .nav_top a:hover, .vis-page .nav_top a:active, .vis-page .nav_top a:focus, .vis-page .underline-menu  {
    border-bottom: 2px solid white;
    text-decoration: none;
    color: white;
}

.vis-page .icon-menu {
    color: white;
    border: 1px solid white;
}

@media screen and (max-width: 900px) {

    .menu {
        display: block;
    }

    .icon-menu {
        display: inline-block;
    }

    .nav_top {
        display:none;
    }

    header {
        padding: 12px 0px;
    }
    
    .description {
        font-size: 24px;
        padding-top: 10px;
        margin-left: 30px;
    }

}