* {
    box-sizing: content-box;
}

body {
    font-family: 'Lato', sans-serif; 
    padding: 0px;
    width:100%; 
    color: #333;
}

.bg-image-startpage {
    position: absolute;
    background-size: cover;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    text-transform: uppercase; 
    padding: 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0,0,0, 0.2)), url(./img/background-start-2.jpg); 
    background-repeat: no-repeat;
    background-position: 100% 86%;
}

.bg-tagline-startpage {
    position: absolute;
    top: 0%;
    padding: 2% !important;
    background-color: rgba(255, 255, 255, .85);
    max-width: 300px;
    border-bottom: 1px solid #ddd;
}

.startpage h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #2856a3; 
    font-size:28px; 
    line-height: 120%;
    font-weight: 700; 
    text-align: left;
}

.search {
    /*position: relative; margin: 20% auto 0;*/ 
    text-transform: none; 
    max-width:600px; 
    position: absolute;
    top: 30%;
    right: 28%;
    background-color: transparent; 
    padding: 20px;
}

.shadow {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.search #progress {
    /*max-width:600px;*/ 
    margin: 0px auto;
}

.library {
    max-width:600px;
    margin: 0px auto;
}

.search-btn {
    font-family: 'Josefin Sans', sans-serif; 
    text-transform: uppercase; 
    border: 0px; 
    margin: 20px 0 0;
    padding: 20px 0;
    border-radius: 17px; 
    font-size: 14px;
    background-image: linear-gradient(rgba(40,86,163,1), rgba(40,86,163,1)); 
    color: white; width:100%; padding: 10px 3px;
}

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-top: 0;
    margin-left: 0px;
}

.search .search-btn:hover {
    background-image: linear-gradient(rgba(28,59,112,1), rgba(28,59,112,1));
}

.author-btn, .keyword-btn {
    width:238px;
    text-align: center;
    padding: 15px 30px;
    display: inline-block;
    font-size: 18px;
    background-color: white;
    opacity: 0.8;
}

.btn-enabled {
    color: #2856a3;
    background-color: white;
    opacity: 1;
}

.awesome {
    font-family: 'FontAwesome';
}

.search .btn, .frontend-btn {
    font-family: 'Josefin Sans', sans-serif; 
    text-transform: uppercase;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    color: #2856a3;
    font-size: 10px;
    background: #ffffff;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #2856a3;
    width: 140px;
}

.search .inputfield {
    height: 32px;  
    width: 100%;
    font-size: 12px;
    color: #333;
    margin-top: 10px;
}

.credits {
    text-transform: none; 
    color: #f7f7f7; 
    position: absolute; 
    right: 20px;
    bottom: 20px; 
    font-size: 12px; 
    text-align: left;
}

.divity {
    display: block;
}

.frontend-hidden {
    display: none;
}

.visible {
    display: block;
}

label {
    display: inline;
    font-weight: normal;
    text-transform: none;
}

#filter-container {
    margin: 0px auto;
    font-family: 'Josefin Sans', sans-serif; 
    text-transform: uppercase; 
    border-radius: 17px; 
    color: #2856a3 !important; 
    text-decoration: none;
    padding: 10px 30px 0;
}

#filter-btn {
    margin-bottom: 23px;
    margin-right: 20px;
    margin-top: 5px;
}

.time_input {
    max-width: 100px;
}

#filters {
    margin-bottom: 10px;
}

#stats {
    margin-bottom: 30px;
    margin-top: 30px;
}

.dropdown {
    padding: 5px;
}

.whitelink {
    text-decoration: underline;
    color: white;
}

.frontend-btn:hover, .frontend-btn:active, .frontend-btn:focus {
    background: #2856a3;
    color: white;
    text-decoration: none;
}

.div {
    display: block; 
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#input-container {
    margin-bottom: 30px;
}

#input-container label {
    color: #333;
}

.radio-inv {
    visibility:hidden;
}

.submit-btn {
    padding: 3px 12px;
}

.caret {
    border-left: 1px solid #AAA;
    border-radius: 0px 4px 4px 0px;
    background: #CCC linear-gradient(to top, #CCC 0%, #EEE 60%) repeat scroll 0% 0%;
}

.multiselect {
    background-color: #fff;
    /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(to top, #eee 0%, #fff 50%);*/
    height: 18px;
}

.radio {
    text-transform: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #2856a3;
}

.btn-group {
    margin-right: 10px;
}

.ui-widget-header {
    border: 1px solid #2856a3;
    background-color: #2856a3; 
}

#progress p {
    color: white;
}

label.q-error, #input-container label.q-error {
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

#input-container label.q-error {
    color: red;
    background-color: white;
}

.label-hide {
    display: none;
}

.label-show {
    display: inline-block;
}

.timefield {
    margin-bottom: 10px;
}

.timefield label {
    display: inline-block;

    font-family: 'Lato', sans-serif;
}

.timefield #from, .timefield #to {
    margin-left: 8px;
}

.selectrange {
    color: #333;
    text-transform: none;
    font-family: 'Lato', sans-serif;
}

.submit-btn {
    display: inline-block;
    padding-top: 10px;
    margin-left: 20px;
}

#download {
    margin-top: 510px;
    margin-left: 30px;
}

.input_items {
    display: inline-block;
    vertical-align: middle;
}

.btn {
    margin-left: 10px;
    width: 100px;
}

.waiting-page-img {
    position: absolute;
    background-size: cover;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    background-image: linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255, 0.7)), url(./img/waiting-bg2.jpg); 
    background-repeat: no-repeat;
    background-position: 100% 86%;
}

.waiting-box {
    padding-top:25%;
    max-width: 750px;
    text-align: center;
    margin: 0px auto;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #333;
}

.waiting-title {
    color: #2856a3;
    font-family: 'Josefin Sans', sans-serif; 
    text-transform: uppercase;
    font-size: 24px;
}
.btn-group.open .dropdown-toggle, .dropdown-toggle {
    overflow: hidden;
}

#authors-loading {
    display: none;
}