circle {
    fill: $circle-fill;
    fill-opacity: 1;
    stroke: $circle-stroke;
    stroke-width: 1px;
    cursor: zoom-in;

    &.zoom_unselected {
        fill: $circle-zoom-unselected-fill;
        fill-opacity: .1;
        stroke-width: 0;
        cursor: zoom-in;
    }

    &.zoomed_out {
        cursor: zoom-in;
    }

    &.zoom_selected {
        fill-opacity: 1;
        fill: $circle-zoom-selected-fill;
        stroke-width: 2px;
        cursor: auto;
    }

    &.area {
        fill: $circle-area;
        fill-opacity: .9;
    }
}

#area_visual_distributions {
    display:none;
    text-align: center;
    width: inherit;
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
    //white-space: nowrap;
    //word-break: keep-all;
    //overflow-wrap: normal;
    .lower_value, .higher_value {
        display: inline-block;
        margin-bottom: 3px;
    }
}

#area_title_object {
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position:static;
        background-color: transparent;
    }

    &.is_hidden {
        visibility: hidden;
    }
}

.lower_value {
    background-color: $lower_value_tag;
}

.higher_value {
    background-color: $higher_value_tag;
}

.higher_value, .lower_value {
    border-radius: 3px;
    -moz-border-radius: 3px;
    color: white;
    padding:2px 5px;
    font-size:9px;
    margin: 0px 2px;
    font-family: $special-font-family;
}

#area_title {
    margin: 0;
    padding: 0;
    word-break: break-word;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;

    h2 {
        font-family: $base-font-family;
        font-size: 14px !important;
        font-weight: $fontweight700;
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 0;
        text-align: center;
        text-transform: none;
        color: $area-title-h2;
        background-color: transparent;
        cursor: default;
    }
}

@media screen and (max-width: 600px) {
    #area_title {
        h2 {
            font-size: 12px !important;
        }
    }
}

@if $skin == 'cris_vis' {
    #area_title {
        h2 {
            font-size: 16px !important;
        }
    }

    @media screen and (max-width: 1200px) {
        #area_title {
            h2 {
                font-size: 14px !important;
            }
        }
    }
}

@if $skin == 'linkedcat' {
    #area_title {
        h2 {
            font-weight: normal;
        }
    }

}