#subdiscipline_title {
    margin: 0px;
    padding-top: 15px;
    padding-left: 50px;
    font-family: $base-font-family;
    min-height: 50px;

    h4 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 18px;
        min-height: 24px;
        font-weight: $fontweight400;
    }

    #area-not-bold, #area-bold, #infolink-areas {
        position: relative;
        z-index: 3;
    }
}

.truncated-project-title, .project-id {
    font-weight: $fontweight700;
}

#modals {
    position: fixed;
    z-index: 3;
}

#context {
    font-size: 11px;
    color: $black;
    span {
        margin-right: 1%;
    }
    .context_moreinfo {
        text-decoration: underline;
        cursor: help;
    }
}

#area-bold {
    font-weight: $fontweight700;
}

#search-term-unique {
    font-weight: $fontweight700;
}

#infolink, #infolink-areas {
    color: $infolink;
    font-weight: $fontweight400;
    margin-left: 5px;
    font-size: 12px;
    text-decoration: none;
}

#whatsthis {
    font-family: 'FontAwesome';
    font-size: 18px;
}

#infolink:hover, #infolink:focus, #infolink:active {
    text-decoration: none;
    color: $black;
}

#timelineview {
    a {
        color: $timelineview;
    }
}


@media screen and (max-width: 640px) {

    #subdiscipline_title {
        padding-left: 20px;
        font-size: 14px;

        h4 {
            font-size: 14px;
        }
    }
}

@if $skin == 'viper' {
    #infolink {
        border-bottom: 1px solid $infolink;
    }



    #infolink:hover, #infolink:focus, #infolink:active {
        border-bottom: 3px solid $framed-item;
    }
}

@if $skin == 'cris_vis' {
    #infolink, #infolink-areas {
        //border: 1px solid $infolink;
        //padding: 5px;
        //border-radius: 5px;
        color: $okm-modal-btn;
        font-weight: 400;
        margin-left: 5px;
        font-size: 12px;
        //text-transform: uppercase;
        //vertical-align: middle;
        text-decoration: none;
        border-bottom: 1px solid $okm-modal-btn;
    }



    #infolink:hover, #infolink:focus, #infolink:active, #infolink-areas:hover, #infolink-areas:focus, #infolink-areas:active{
        border-bottom: 3px solid $okm-modal-btn;
    }
}
