#subdiscipline_title {
    margin: 0px;
    padding-top: 15px;
    padding-left: 50px;
        //padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    min-height: 50px;
    position: relative;
    z-index: 3;

    h4 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-weight: bold;
        font-size: 18px;
    }
}

#infolink {
    color: $infolink;
}

#timelineview {
    a {
        color: $timelineview;
    }
}
