#subdiscipline_title {
    margin: 0px;
    padding-top: 15px;
    padding-left: 50px;
    font-family: $base-font-family;
    min-height: 50px;

    h4 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 18px;
        min-height: 24px;
        font-weight: $fontweight400;
    }

    #area-not-bold, #area-bold, #infolink-areas {
        position: relative;
        z-index: 3;
    }

    .backlink {
        position: relative;
        z-index: 3; 
        font-size: 11px;
        cursor: pointer;

        a {
            border-bottom: 1px solid $medium-blue;
            color: $medium-blue;
            text-decoration: none;

            &:hover {
                border-bottom: 2px solid $medium-blue;
            }
        }
    }
    
    .backlink-streamgraph {
        margin-bottom: 0;
    }
}

.truncated-project-title, .project-id {
    font-weight: $fontweight700;
}

#modals {
    position: fixed;
    z-index: 3;
}

#context {
    font-size: 11px;
    color: $black;
    span {
        margin-right: 1%;
    }
    .context_moreinfo {
        border-bottom: 1px solid $medium-blue;
        cursor: help;
        color: $medium-blue;

        &:hover {
            border-bottom: 2px solid $medium-blue;
        }
    }
    .modifier {
        margin-right: 0;
    }
}

#area-bold {
    font-weight: $fontweight700;
}

#search-term-unique {
    font-weight: $fontweight700;
}

#infolink, #infolink-areas {
    color: $infolink;
    font-weight: $fontweight400;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
}

#infolink {
    margin-left: 5px;
}

#context-scale-toolbar #infolink {
    margin-left: 0px;
}

#subdiscipline_title h4 b {
    margin-right: 5px;
}

#whatsthis {
    font-family: 'FontAwesome';
    font-size: 18px;
}

#infolink:hover, #infolink:focus, #infolink:active {
    text-decoration: none;
    color: $black;
}

#multiplesview {
    a {
        color: $multiplesview;
    }
}

.authorimage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    /*margin: 5px 0px 0px 10px;*/
}

.titleimage {
    display: inline-block;
    /*max-width: 80px;*/
    vertical-align: middle;
    margin: 10px 4px 10px 10px; /*former margin-right*/
    /*margin-top: 15px;
    margin-left: 50px;*/
}

#author_bio a {
    border-bottom: 1px solid $multiplesview;
}

#author_bio a:hover {
    text-decoration: none;
    border-bottom: 3px solid $multiplesview;
}

@media screen and (max-width: 640px) {
    #subdiscipline_title {
        padding-left: 20px;
        font-size: 14px;

        h4 {
            font-size: 14px;
        }
    }
}

@if $skin == 'viper' {
    #infolink {
        border-bottom: 1px solid $infolink;
    }

    #infolink:hover, #infolink:focus, #infolink:active {
        border-bottom: 3px solid $framed-item;
    }
}

@if $skin == 'cris_vis' {
    #infolink, #infolink-areas {
        //border: 1px solid $infolink;
        //padding: 5px;
        //border-radius: 5px;
        color: $okm-modal-btn;
        font-weight: 400;
        font-size: 12px;
        //text-transform: uppercase;
        //vertical-align: middle;
        text-decoration: none;
        border-bottom: 1px solid $okm-modal-btn;
    }

    #infolink:hover, #infolink:focus, #infolink:active, #infolink-areas:hover, #infolink-areas:focus, #infolink-areas:active{
        border-bottom: 3px solid $okm-modal-btn;
        color: $okm-modal-btn;
    }

    #infolink {
        margin-left: 0px;
    }
}

@if $skin == 'linkedcat' {
    #title_image + #subdiscipline_title {
        display: inline-block;
        width: 80%;
        vertical-align: middle; 
        padding-left: 0px;
        padding-top: 0px !important;
    }

    #subdiscipline_title {
        min-height: 10px;
    }

    #context {
        margin: 0px;
        font-size: 12px;
    }

    #infolink, #infolink-areas {
        color: $okm-gray;
        font-weight: 400;
        font-size: 12px;
        text-decoration: none;
    }

    #infolink:hover, #infolink:focus, #infolink:active, #infolink-areas:hover, #infolink-areas:focus, #infolink-areas:active{
        color: $okm-modal-btn;
    }

    #infolink {
        margin-left: 3px;
    }

    #subdiscipline_title {

        h4 {
            font-size: 18px;
            min-height: 20px;
        }
    }
    
    .backlink {
        position: relative;
        z-index: 3; 
        font-size: 12px;
        cursor: pointer;

        a {
            color: $medium-blue;
            display: block;
            width: 160px;
            border: 1px solid $medium-blue !important;
            color: $medium-blue;
            text-align: center;
            margin: 6px 0 0 0;
            text-decoration: none;
            border-radius: 17px;
            padding: 5px 3px;

            &:hover {
                border: 1px solid $medium-blue;
                
            }
        }
    }
}
