#subdiscipline_title {
    margin: 0px;
    padding-top: 15px;
    padding-left: 50px;
        //padding-bottom: 10px;
    font-family: Helvetica;

    h4 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 18px;
    }
}

#search-term-unique {
    font-weight: bold;
}

#infolink {
    color: $infolink;
    border: 1px solid $infolink;
    padding: 5px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;
    vertical-align: middle;
}
#whatsthis {
    font-family: 'FontAwesome';
    font-size: 12px;
}

#infolink:hover, #infolink:focus, #infolink:active {
    text-decoration: none;
    background-color: $infolink;
    color: white;
}

#timelineview {
    a {
        color: $timelineview;
    }
}
