#subdiscipline_title {
    margin: 0px;
    padding-top: 15px;
    padding-left: 50px;
        //padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    min-height: 50px;

    h4 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 18px;
        min-height: 24px;
    }

    #area-not-bold, #area-bold {
        position: relative;
        z-index: 3;
    }
}

.truncated-project-title, .project-id {
    font-weight: 800;
}

 
#context {
    font-size: 11px;
    color: $black;
    span {
        margin-right: 1%;
    }
    .context_moreinfo {
        text-decoration: underline;
        cursor: help;
    }
}

#area-bold {
    font-weight: 800;
}

#search-term-unique {
    font-weight: 800;
}

#infolink {
    //border: 1px solid $infolink;
    //padding: 5px;
    //border-radius: 5px;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
    //text-transform: uppercase;
    //vertical-align: middle;
    text-decoration: underline;
}

#whatsthis {
    font-family: 'FontAwesome';
    font-size: 18px;
}

#infolink:hover, #infolink:focus, #infolink:active {
    text-decoration: none;
}

#timelineview {
    a {
        color: $timelineview;
    }
}

@media screen and (max-width: 640px) {

    #subdiscipline_title {
        padding-left: 20px;
        font-size: 14px;

        h4 {
            font-size: 14px;
        }
    }
}
