#subdiscipline_title {
    margin: 0px;
    padding-top: 15px;
    padding-left: 50px;
    font-family: $base-font-family;
    min-height: 54px;

    h4 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 18px;
        min-height: 24px;
        font-weight: $fontweight400;
        text-transform: none !important;
    }

    #area-not-bold, #area-bold, #infolink-areas {
        position: relative;
        z-index: 3;
    }
    
    #area-not-bold {
        .query_term_highlight {
            background-color: transparent;
        }
    }

    .backlink {
        position: relative;
        z-index: 3; 
        font-size: 12px;
        cursor: pointer;
        height: 21px;

        a {
            border-bottom: 1px solid $link-gray;
            color: $link-gray;
            text-decoration: none;

            &:hover {
                border-bottom: 2px solid $link-gray;
            }
        }
    }

    .backlink-streamgraph {
        margin-bottom: 10px;
    }
}

.truncated-project-title, .project-id {
    font-weight: $fontweight700;
}

#modals {
    position: fixed;
    z-index: 3;
}

#context {
    font-size: 12px;
    color: $black;
    .context_moreinfo {
        border-bottom: 1px solid $link-gray;
        cursor: help;
        color: $link-gray;

        &:hover {
            border-bottom-width: 2px;
        }

        &.infolink {
            cursor: pointer;
            color: $infolink;
            border-bottom-color: $infolink;
        }
    }
    .modifier {
        margin-right: 0;
    }
}

#area-bold {
    font-weight: $fontweight700;
}

#search-term-unique {
    font-weight: $fontweight700;
}

#infolink, #infolink-areas {
    color: $infolink;
    font-weight: $fontweight400;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;

    background: none!important;
    border: none;
    padding: 0!important;
}

#infolink {
    margin-left: 5px;
    border-bottom: 1px solid #333;
}

#context-scale-toolbar #infolink {
    margin-left: 0px;
}

#subdiscipline_title h4 b {
    margin-right: 5px;
}

#whatsthis {
    font-family: 'FontAwesome';
    font-size: 18px;
}

#infolink:hover, #infolink:focus, #infolink:active {
    text-decoration: none;
    color: $black;
}

#multiplesview {
    a {
        color: $multiplesview;
    }
}

.authorimage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    /*margin: 5px 0px 0px 10px;*/
}

.titleimage {
    display: inline-block;
    /*max-width: 80px;*/
    vertical-align: middle;
    margin: 10px 4px 10px 10px; /*former margin-right*/
    /*margin-top: 15px;
    margin-left: 50px;*/
    padding-right: 3px;
}

#author_bio a {
    border-bottom: 1px solid $multiplesview;
}

#author_bio a:hover {
    text-decoration: none;
    border-bottom: 3px solid $multiplesview;
}

@media screen and (max-width: 640px) {
    #subdiscipline_title {
        padding-left: 20px;
        font-size: 14px;

        h4 {
            font-size: 14px;
        }
    }
    
    #context {
        font-size: 11px;
    }
}

@if $skin == 'viper' {
    #infolink {
        border-bottom: 1px solid $infolink;
    }

    #infolink:hover, #infolink:focus, #infolink:active {
        border-bottom: 2px solid $black;
    }
}

@if $skin == 'cris_vis' {
    #infolink, #infolink-areas {
        //border: 1px solid $infolink;
        //padding: 5px;
        //border-radius: 5px;
        color: $okm-modal-btn;
        font-weight: 400;
        font-size: 12px;
        //text-transform: uppercase;
        //vertical-align: middle;
        text-decoration: none;
        border-bottom: 1px solid $okm-modal-btn;
    }

    #infolink:hover, #infolink:focus, #infolink:active, #infolink-areas:hover, #infolink-areas:focus, #infolink-areas:active{
        border-bottom: 3px solid $okm-modal-btn;
        color: $okm-modal-btn;
    }

    #infolink {
        margin-left: 0px;
    }
}

@if $skin == 'linkedcat' {
    #title_image + #subdiscipline_title {
        display: inline-block;
        width: 80%;
        vertical-align: middle; 
        padding-left: 0px;
        padding-top: 0px !important;
    }

    #subdiscipline_title {
        min-height: 37px;
    }

    #context {
        margin: 0px;
        font-size: 12px;
    }

    #infolink, #infolink-areas {
        color: $okm-gray;
        font-weight: 400;
        font-size: 12px;
        text-decoration: none;
    }

    #infolink:hover, #infolink:focus, #infolink:active, #infolink-areas:hover, #infolink-areas:focus, #infolink-areas:active{
        color: $okm-modal-btn;
    }

    #infolink {
        margin-left: 3px;
    }

    #subdiscipline_title {

        h4 {
            font-size: 18px;
            min-height: 20px;
        }
    }

    .backlink {
        position: relative;
        z-index: 3; 
        font-size: 12px;
        cursor: pointer;

        a {
            color: $medium-blue;
            display: block;
            width: 160px;
            border: 1px solid $medium-blue !important;
            color: $medium-blue;
            text-align: center;
            margin: 6px 0 0 0;
            text-decoration: none;
            border-radius: 17px;
            -webkit-border-radius: 17px;
            -moz-border-radius: 17px;
            padding: 5px 3px;

            &:hover {
                border: 1px solid $medium-blue;

            }
        }
    }

    #modals .btn {
        width: 34px;
        height: 34px;
    }
}

@if $skin == 'covis' {
    #infolink:hover, #infolink:focus, #infolink:active {
        text-decoration: none;
        color: $infolink;
    }

    #infolink {
        text-decoration: underline;
        margin-left: 0px;
        font-size: 18px;
    }
    #subdiscipline_title h4 b {
        margin-right: 0px;
    }

    @media screen and (max-width: 640px) {
        #infolink {
            font-size: 14px;
        }
    }
}

.context_item {
    display: inline-block;
    margin-right: 1%;
    height: 15px;
    margin-bottom: 6px;
}

//.context_metadata_high {
    //color: $okm-green !important;
    //border-bottom-color: $okm-green !important;
//}

//.context_metadata_low {
    //color: $okm-red !important;
    //border-bottom-color: $okm-red !important;
//}

.heading-container {
    display: flex;
    align-items: center;

    .heading {
        color: $area-title-h2;
        text-overflow: ellipsis;
        height: min-content; // 19.8px
        overflow: hidden;
        white-space: nowrap;
        max-width: 800px;
    }

    .features {
        padding-left: 5px;
        padding-right: 10px;
    }
}

.popover {
    &.wide {
        max-width: 400px !important;
    }
}