.paper {
    &.resulttype-dataset {
        #region {
            stroke: $dataset;
        }

        #region.framed {
            stroke: $framed-item;
        }
    }

    .paper_path {
        fill: white;
        fill-opacity: 1;
        stroke: $paper-icon;
        stroke-width: 1px;
        cursor: zoom-in;
    
        &#region {
            &.zoomed_in {
                cursor: pointer;
            }

            &.framed {
                stroke: $framed-item;
                stroke-width: 3px;
            }
        }
    }

    .dogear {
        fill: $paper-icon;
    }
}

#article_metadata {
    font-family: $special-font-family;
    line-height: 100%;
    overflow: hidden;
    cursor: zoom-in;

    body {
        position: static;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }
}

.paper_holder {
    overflow: hidden;
    cursor: zoom-in;

    &.zoomed_in {
        cursor: pointer;
    }

    p {
        margin: 0 0 5px;
    }

    .metadata {
        font-size: 3px; 
        font-family: $base-font-family;
        font-weight: $fontweight400;
        line-height: 100%;
        overflow: hidden;
        text-align: left;
        padding: 2px;
        margin: 0px;
    }

    #icons {
        padding-top: 2px;
        padding-left: 2px;
        font-size: 0px;
    }

    .large {
        font-size: 12px;
        padding: 5px 0px 0px 10px;
        line-height: 120%;
    }

    .larger {
        font-size: 14px;
        padding: 5px 0px 0px 10px;
        line-height: 120%;
    }

    #outlink  {
        display:none;
        font-size: 0px;
        font-family: FontAwesome;
        vertical-align: top;
        margin-left:0px;

        &.large {
            display:inline-block;
            font-size: 12px;
        }
        &.larger {
            display:inline-block;
            font-size: 12px;
        }
    }

    a {
        color: $journal-gray;
    }

    #num-readers {
        font-weight: $fontweight700;
    }
    
    #readers {
        font-size: 9px;
        line-height: 100%;
        margin-bottom: 3px;
        padding: 2px;
        text-align: left;
        vertical-align: text-bottom;
        font-family: $special-font-family;

        &.large {
            font-size: 12px;
            padding: 5px 10px 0px;
        }

        &.larger {
            font-size: 12px;
            padding: 0px 10px;
        }

        span {
            color: black;
        }
    }
}

#dataset-icon {
    display: inline-block;
    border: 0px solid $black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: $black;

    &.large {
        display: inline-block;
        border: 1px solid $black;
        padding: 4px;
        margin: 0 0 0 5px;
    }

    &.larger {
        border: 1px solid $black;
        padding: 4px;
        display: inline-block;
        margin: 0 0 0 5px;
    }
}

#open-access-logo {
    font-family: 'FontAwesome';
    display:inline-block;
    background-color: $open-access;
    color: white;
    padding: 4px;
    font-size: 6px;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    
    &.large {
        margin: 0 0 0 5px;
        font-size: 12px;
        padding: 4px 10px;
    }

    &.larger {
        font-size: 12px;
        margin: 0 0 0 5px;
        padding: 4px 10px;
    }

    img {
        max-width: initial;
        vertical-align: top;
    }
}

#free-access-logo {
    font-family: 'FontAwesome';
    display:inline-block;
    background-color: white;
    color: $open-access;
    border: 1px solid $open-access;
    padding: 4px;
    font-size: 6px;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;

    &.large {
        margin: 0 0 0 5px;
        font-size: 12px;
        padding: 4px 10px;
    }

    &.larger {
        font-size: 12px;
        margin: 0 0 0 5px;
        padding: 4px 10px;
    }

    img {
        max-width: initial;
        vertical-align: top;
    }
}

#title {
    color: $papers_title;
    margin-top: 0px;

    &.large {
        margin-top: 15px;
    }
    &.larger {
        margin-top: 15px;
    }
}

#details {
    /*margin-top: 3px;*/
    padding-top: 3px;
    color: $papers_details;
}

#in {
    color: $black;

    span {
        font-style: italic;
        padding-right: 0;
        color: $black;
    }

    .pubyear {
        font-weight: $fontweight700;
        font-style: normal;

        span {
            font-style: normal;
        }
    }
}

.framed_recommended {
    stroke: yellow;
    stroke-width: 3px;
}

.framed_bookmarked {
    stroke: green;
    stroke-width: 2px;
}

.recommended {
    font-size: 10pt;
    font-weight: $fontweight700;
    color: black;
    border: 1px yellow solid;
    background-color: yellow;
}

.bookmarked {
    font-size: 10pt;
    color: black;
    border: 1px green solid;
}

.tobookmark {
    font-size: 10pt;
    font-weight: $fontweight700;
    color: white;
    border: 1px green solid;
    background-color: green;
}

#paper_visual_distributions {
    display:none;
    white-space: nowrap;
}

@if $skin == 'cris_vis' {
    .paper_holder {
        .large {
            font-size: 12px;
            padding: 5px 0px 0px 10px;
            line-height: 120%;
        }

        .larger {
            font-size: 16px;
            padding: 5px 0px 0px 10px;
            line-height: 120%;
            //font-weight: $fontweight700;
        }
    }
    
    #title {
        &.large {
            margin-top: 10px;
        }
        &.larger {
            margin-top: 10px;
        }
    }
}

@if $skin == 'linkedcat' {
    #open-access-logo {
        background-color: white;
        color: $open-access;
    }

    .paper_holder {

        .large {
            font-size: 10px;
            padding: 0px 0px 0px 5px;
        }

        .larger {
            font-size: 14px;
            padding: 0px 0px 0px 10px;
        }
    }
}

.access_icon {
    margin-right: 3px;
}