.paper {
    &.resulttype-dataset {
        #region {
            stroke: $dataset;
            /*stroke-width: 2px;*/


        }
        #region.framed {
            stroke: $framed-item;
            /*stroke-width: 3px;*/
        }
    }
}

#article_metadata {
    font-family: Helvetica;
    line-height: 100%;
    overflow: hidden;
    cursor: zoom-in;

    body {
        position: static;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        word-break: break-word;
        background-color: transparent;
    }
}

.paper_holder {
    overflow: hidden;
    cursor: zoom-in;

    &.zoomed_in {
        cursor: pointer;
    }

    p {
        margin: 0 0 5px;
    }
    .metadata {
        font: 3px 'Helvetica', sans-serif;
        line-height: 100%;
        overflow: hidden;
        text-align: left;
        padding: 2px;
        margin: 0px;
    }

    #icons {
        padding-top: 2px;
        padding-left: 2px;
        font-size: 0px;


    }

    .large {
        font-size: 12px;
        padding: 5px 0px 0px 10px;
        line-height: 120%;
    }

    .larger {
        font-size: 12px;
        padding: 5px 0px 0px 10px;
        line-height: 120%;
    }

    #outlink  {
        display:none;
        font-size: 0px;
        font-family: FontAwesome;
        vertical-align: top;
        margin-left:0px;



        &.large {
            display:inline-block;
            font-size: 12px;
        }
        &.larger {
            display:inline-block;
            font-size: 12px;
        }
    }


    a {

        color: $journal-gray;

    }
    #num-readers {
        font-weight: bold;
    }
    #readers {
        font-size: 9px;
        line-height: 8px;
        margin-bottom: 3px;
        padding: 2px;
        text-align: left;
        vertical-align: text-bottom;
        font-family: Helvetica;



        &.large {
            font-size: 12px;
            padding: 5px 10px 0px;
        }

        &.larger {
            font-size: 12px;
            padding: 0px 10px;
        }



        span {
            color: black;
        }
    }

}

#dataset-icon {
    display: inline-block;
    border: 0px solid $black;
    border-radius: 3px;
    color: $black;

    &.large {
        display: inline-block;
        border: 1px solid $black;
        padding: 4px;
        margin: 0 0 0 5px;
    }

    &.larger {
        border: 1px solid $black;
        padding: 4px;
        display: inline-block;
        margin: 0 0 0 5px;
    }

}

#open-access-logo {
    font-family: 'FontAwesome';
    display:inline-block;
    background-color: $open-access;
    color: white;
    padding: 4px;
    font-size: 6px;
    border-radius: 3px;

    &.large {
        margin: 0 0 0 5px;
        font-size: 12px;
        padding: 4px;
    }

    &.larger {
        font-size: 12px;
        margin: 0 0 0 5px;
        padding: 4px;
    }

    img {
        max-width: initial;
        vertical-align: top;
    }
}


#title {
    color: $papers_title;
    margin-top: 0px;
    //font-weight: bold;

    &.large {
        margin-top: 10px;
    }
    &.larger {
        margin-top: 10px;
    }
}

#details {
    /*margin-top: 3px;*/
    padding-top: 3px;
    color: $papers_details;
}

#in {
    color: $black;

    span {
        font-style: italic;
        padding-right: 0;
        color: $black;
    }

    .pubyear {
        font-weight: bold;
        font-style: normal;
    }
}

.framed {
    stroke: $framed-item;
    stroke-width: 3px;
}

.framed_recommended {
    stroke: yellow;
    stroke-width: 3px;
}

.framed_bookmarked {
    stroke: green;
    stroke-width: 2px;
}

.recommended {
    font-size: 10pt;
    font-weight: bold;
    color: black;
    border: 1px yellow solid;
    background-color: yellow;
}

.bookmarked {
    font-size: 10pt;
    color: black;
    border: 1px green solid;
}

.tobookmark {
    font-size: 10pt;
    font-weight: bold;
    color: white;
    border: 1px green solid;
    background-color: green;
}

#paper_visual_distributions {
    display:none;
}
