server/preprocessing/other-scripts/.Rhistory
server/preprocessing/other-scripts/renv
/nbproject/private/
/server/nbproject/private/
*_local.*
vis/images/*.pdf
node_modules/
npm-debug.log
**/.sass-cache/*
vis/stylesheets/*.css
*.map
dist/
.idea/
/config.js
*__pycache__*
.pytest_cache
.cache
.Rhistory
.ipynb_checkpoints
.Rprofile
.Rproj*
coverage/

# local deployment files
/deploy.sh
/config.ini
/config_covis.js
/config_linkedcat.js
/config_triple.js
/config_viper.js
/covis.sqlite
/example_config.ini
/example_config.js
/lc_browseview_cache.json
/lc_cache.json
/linkedcat.sqlite
.env
.Rproj.user
