*_local.*
vis/images/*.pdf
node_modules/
npm-debug.log
**/.sass-cache/*
vis/stylesheets/*.css
*.map
dist/
.idea/
/config.js
.cache
coverage/

# local deployment files
/deploy.sh
/config.ini
/config_covis.js
/config_linkedcat.js
/config_triple.js
/config_viper.js
/covis.sqlite
/example_config.ini
/example_config.js
/lc_browseview_cache.json
/lc_cache.json
/linkedcat.sqlite
.env
backend_*.sh
server/workers/tests/*.csv
server/workers/tests/*.txt
server/workers/tests/testutils/
local_dev/renv/*

# php files
/server/classes/headstart/vendor
/server/classes/headstart/var/*

# R files
server/preprocessing/other-scripts/.Rhistory
server/preprocessing/other-scripts/renv
.Rhistory
.Rprofile
.Rproj*
/*.Rproj
.Rproj.user


# python files
*.pyc
*.pkl
.ipynb_checkpoints
*.ipynb
/nbproject/private/
/server/nbproject/private/
.pytest_cache
*__pycache__*

# python files
*.pyc
*.pkl
.ipynb_checkpoints
*.ipynb
/nbproject/private/
/server/nbproject/private/
.pytest_cache
*__pycache__*