version: '3.7'

services:

  pgsql:
    image: 'postgres:12.2-alpine'
    restart: always
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./server/workers/pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
    ports:
      - '127.0.0.1:5432:5432'

  pgadmin:
    image: 'dpage/pgadmin4'
    ports:
      - '127.0.0.1:54323:80'
    env_file:
      - .env
    volumes:
      - ${PGADMIN_VOLUME}:/pgadmin4/data

  api:
   build:
     context: server
     dockerfile: services.docker
   restart: always
   ports:
    - '5001:5001'
   depends_on:
    - redis
   network_mode: "host"
   depends_on:
     - redis

  redis:
    image: 'redis:4.0-alpine'
    restart: always
    command: ["redis-server", "/etc/redis/redis.conf", "--appendonly", "yes"]
    volumes:
       - 'redis:/var/lib/redis/data'
       - ./server/workers/redis.conf:/etc/redis/redis.conf
    restart: always
    ports:
      - '6379:6379'
    network_mode: "host"

  search_triple:
    build:
      context: server
      dockerfile: search_triple.docker
    env_file:
      - server/workers/triple/triple.env
    restart: always
    network_mode: "host"
    depends_on:
      - redis

  search_gsheets:
    build:
      context: server
      dockerfile: search_gsheets.docker
    env_file:
      - server/workers/gsheets/gsheets.env
    restart: always
    network_mode: "host"
    depends_on:
      - redis

  dataprocessing:
    build:
      context: server
      dockerfile: dataprocessing.docker
    env_file:
      - server/workers/dataprocessing/dataprocessing.env
    restart: always
    network_mode: "host"
    volumes:
      - /opt/local/renv/cache:/renv/cache
      - /var/log/headstart:/var/log/headstart
    depends_on:
      - redis

  search_base:
    build:
      context: server
      dockerfile: base.docker
    env_file:
      - server/workers/base/base.env
    restart: always
    network_mode: "host"
    volumes:
      - /opt/local/renv/cache:/renv/cache
      - /var/log/headstart:/var/log/headstart
    depends_on:
      - redis

  search_pubmed:
    build:
      context: server
      dockerfile: pubmed.docker
    env_file:
      - server/workers/pubmed/pubmed.env
    restart: always
    network_mode: "host"
    volumes:
      - /opt/local/renv/cache:/renv/cache
      - /var/log/headstart:/var/log/headstart
    depends_on:
      - redis

  search_openaire:
    build:
      context: server
      dockerfile: openaire.docker
    env_file:
      - server/workers/openaire/openaire.env
    restart: always
    network_mode: "host"
    volumes:
      - /opt/local/renv/cache:/renv/cache
      - /var/log/headstart:/var/log/headstart
    depends_on:
      - redis

volumes:
  redis:
  db-data:
    driver: local
