version: '3'

services:
  rstudio:
    build:
      context: .
      dockerfile: local_dev/Rstudio/Dockerfile
    ports:
      - "8787:8787"
    environment:
      PASSWORD: password  # RStudio password (default username is 'rstudio')
      ROOT: TRUE             # Allow root access (optional)
      RENV_VERSION: 0.14.0-5
      CRAN: "https://cloud.r-project.org"  # Use the main CRAN mirror instead of MRAN
      LC_ALL: "en_US.UTF-8"
      LANG: "en_US.UTF-8"
      RENV_PATHS_CACHE: /renv/cache
    restart: unless-stopped
    volumes:
      - ./local_dev/renv/cache:/renv/cache
      - /var/log/headstart:/var/log/headstart
      - ./server/preprocessing/other-scripts:/headstart/other-scripts
      - ./server/workers:/headstart/workers