COMPOSE_PROJECT_NAME=dockerrefactoring
SERVICE_VERSION=ab9d127081977c27ffce22ccdd9bacf8c55fec1e
NETWORK=dockerrefactoring
POSTGRES_DB=postgres
POSTGRES_USER=headstart
POSTGRES_PASSWORD=testpassword
POSTGRES_HOST=dockerrefactoring_db_1
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=christopher.kittel@openknowledgemaps.org
PGADMIN_DEFAULT_PASSWORD=testpassword
API_PORT=5001
REDIS_HOST=dockerrefactoring_redis_1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=testpassword