html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div {
  font-family: 'Helvetica';
}

/* ################ Chart ############### */

div#chart {
  position: absolute;
  left: 0px;
  top: 40px;
}

rect {
  fill: rgb(31, 119, 180);

  fill-opacity: .0;
  stroke: rgb(31, 119, 180);
  stroke-width: 0px;
}

rect#area_title_object {
  fill-opacity: 1;
  stroke-width: 1px;
}

circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

circle.zoom_unselected {
  fill-opacity: .1;
  stroke-width: 0px;
}

circle.zoom_selected {
  /*fill: rgb(31, 119, 180);*/
  fill-opacity: 1;
  /*fill: rgb(219, 233, 243);*/
  fill: rgb(241, 246, 250);
  stroke-width: 1px;
}

circle.area {
  fill: rgb(210, 228, 240);
  fill-opacity: 0.8;
}

path {
  fill: rgb(255, 255, 255);
  fill-opacity: .25;
  stroke: rgb(128, 128, 128);
  stroke-width: 1px;
}

line {
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

div#subdiscipline_title {
  margin: 0px;
  height: 18px;
  padding-left: 10px;
}

h1 {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 18px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 14px;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  /*background-color: rgb(210, 228, 240);*/
}

text {
  font: 10px sans-serif;
}

/* ################ Papers ############### */

div.metadata {
  /*white-space: pre-wrap;*/
  white-space: -moz-pre-wrap;
  /*word-wrap: break-word;*/
  overflow:hidden;
}

foreignObject#article_metadata {
  overflow:hidden;
  line-height: 10px;
}

div.paper_holder {
}

div#intro {
  padding: 10px;
  background-color: white;
}

div#intro h2 {
  font-size: 18px;
}

div#intro p {
  font: 16px 'Helvetica', sans-serif;
  color: black;
  margin-bottom: 10px;
}

p {
  font: 8px 'Helvetica', sans-serif;
  color: rgb(167, 8, 5);
  text-align: left;
  margin: 0px;
  padding: 0px;
  line-height: 8px;
}

p.large {
  font-size: 12px;
  line-height: 12px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*font-weight:bold;*/
}

p.larger {
  font-size: 14px;
  line-height: 14px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.details {
  font-size: 8px;
  color: rgb(33, 101, 0);
}

p#details {
  /*margin-top: 3px;*/
  padding-top: 3px;
  color: rgb(33, 101, 0);
}


p#in {
  color: rgb(102, 102, 102);
}

span.pubyear {
  font-style: italic;
  color: rgb(0, 0, 0);
}

div#area_title {
  vertical-align: middle;
  display: table-cell;
  overflow: no-display;
}

div.readers {
  color: rgb(0, 0, 0);
  text-align: right;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
}

div.readers_large {
  color: rgb(0, 0, 0);
  text-align: right;
  margin-top: 0px;
  padding-bottom: 3px;
  padding-right: 5px;
}

p#readers {
  color: rgb(0,0,0);
  vertical-align: text-bottom;
  text-align: right;
  line-height: 8px;
}

p#readers.large {
  margin-bottom: 3px;
}

span.readers_entity {
  font: 8px 'Helvetica' sans-serif;
  font-weight: normal;
  color: rgb(102, 102, 102);
}

/* ################ Papers list ############### */

div#input_container {
    margin-top: 5px;
    float: left;
    padding-left: 3px;
}

div#sort_container {
    position:relative;  
    float:right;
    background:none;
    cursor: pointer;
}


div#show_hide_container {
  position: absolute;
  top: 0px;
  cursor: pointer;
  background-color: #EEE;
}

div#show_hide_label_container {
  float: left;
  text-align: center;
  font-size: 14px;
}

#show_hide_label {
  font-size: 14px;
  font-weight: 400;
}

div#show_hide {
  background-color: #EEE;
  color: #000;
}

div#papers_list {
  /*margin-left: 20px;*/
  padding-top: 10px;
  overflow-y: scroll;
  background-color:white;
}

div#left_arrow {
  float: left;
}

div#right_arrow {
  text-align: right;
  float: left;
}

div.list_metadata {
  margin-bottom: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 5px;
}

p#list_title {
  font-size: 14px;
  line-height: 18px;
}

p#list_title a {
  text-decoration: none;
  color: rgb(167, 8, 5);
}

p#list_title a:hover {
  text-decoration: underline;
}

.list_details {
  margin-top: 3px;
  font-size: 12px;
  color: rgb(33, 101, 0);
  line-height: 14px;
}

p#list_abstract {
  border-left: solid 2.5px rgb(233,233,233);
  color: rgb(68, 68, 68);
  font-size: 11px;
  padding-left:7px;
  line-height: 11px;
}

span.list_in {
  color: rgb(102, 102, 102);
}

span.list_pubyear {
  font-style: italic;
  color: rgb(0, 0, 0);
}

p#list_area {
  color: rgb(0,0,0);
  margin-top: 10px;
  text-align: left;
  line-height: 11px;
  font-size: 11px;
}

p#list_readers {
  color: rgb(0,0,0);
  vertical-align: text-bottom;
  text-align: right;
  line-height: 11px;
  font-size: 11px;
}

span.list_readers_entity {
  font: 11px 'Helvetica' sans-serif;
  font-weight: normal;
  color: rgb(102, 102, 102);
}

div#preview_image {
  border: 1px solid;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#transbox {
  background-color: rgba(255,255,255,0.6);
  opacity: 0.9;
  display: none;
  cursor: pointer;
}

div#preview_page_index {
  text-align: center;
  background-color: #EEE;
  padding: 5px;
  margin-top: 15px;
  text-shadow: 0px 1px 1px white;
  font-size: 11px;
}

img#preview_page {
  text-align: center;
  border: 1px solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ########### Paper Frame ########### */

div#paper_frame {
  background-color: rgba(0,0,0,0.8);
}

div#paper_frame_inner {
  padding-bottom: 10px;
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*float: right;*/
}

div#paper_frame_bar {
  /*float: right;*/
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 5px;
}

div#shadow-top {
  height: 5px;
  box-shadow: inset 0px 8px 8px -8px #333;
}

div#shadow-bottom {
  height: 5px;
  box-shadow: inset 0px -8px 8px -8px #333;
}

div#preview {
  overflow-y: scroll;
  background-color: #EEE;
  padding-top: 5px;
  padding-bottom: 5px;
}

table#legend_table {
  border-collapse: separate;
  border-spacing: 1px 5px;
  font-size: 10pt;
  margin-left: 10px;
}

table#legend_table tr {
  line-height: 10px;
  border-top: 1px #000 solid;
}

table#legend_table td {
  border-left: 2px #fff solid;
}

/* ########### Filters ############## */

ul.filter{
        float:left;
	padding:0;
	margin:0;
	overflow:hidden;
	list-style-type:none;
	font-size:11px;
	-moz-border-radius:20px;
	border-radius:20px;
	border:3px solid #e9e9e9
}

.filter li{
	padding:0;
	margin:0;
	float:left;
	list-style-type:none;
        background:#e9e9e9;
}

.filter li a{
	position:relative;
	display:block;
	float:left;
	padding:5px 8px;
	overflow:hidden;
	color:#333;
	background:#e9e9e9;
	text-shadow:0 1px 0 rgba(255,255,255,0.8);
	-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0);
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0);
	box-shadow:inset 0 1px 3px rgba(0,0,0,0);
	margin-left:-1px;
	-webkit-transition:.2s;
	border:1px solid #c6c6c6;
        text-decoration: none;
}

.filter li a:hover{
	border-color:#939393;
	z-index:2;
	text-decoration:none
}

.filter li:first-child a{
	-moz-border-radius-topleft:20px;
	-moz-border-radius-bottomleft:20px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	margin-left:0;
	padding-left:10px
}

.filter li:first-child{
	-moz-border-radius-topleft:20px;
	-moz-border-radius-bottomleft:20px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px
}

.filter li:last-child a{
	-moz-border-radius-topright:20px;
	-moz-border-radius-bottomright:20px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	padding-right:10px
}

.filter li a.selected{
	float:left;
	color:#fff;
	background:#489ac0;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
	z-index:3;
	-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.3);
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.3);
	-webkit-transition:.2s;
	border:1px solid #1e6a8d
}
