// variables.scss
// 
// Variable definitions

// Typography
$text-color: black;
$base-font-size: 10px;
$base-font-family: Helvetica;
$base-font-weight: normal;

// Map
$bubble-color: $light-blue;
$bubble-active: $lightest-blue;
$bubble-edge: $dark-blue;