// colors.scss
// Color pallette

// Map Bubble Colors
$white: white;
$lightest-blue: #F1F6FA; //old: #F1F6FA
$light-blue: #D2E4F0;
$dark-blue: #2C3E52; // old: #1F77B4
$paper-icon: #cacfd3;

// OKMaps
$okm-red: #E55137;
$okm-blue: #2C3E52;
$okm-gray: #808B8D;
$okm-light-gray: #E1E5E6;
$okm-green: #51c9ae;
$okm-clouds: #F4F4F6;

// Text colors
$medium-blue: #4d7199;
$dark-red: #A70805;
$black: #444444;
$author-green: #216500;
$abstract-gray: #333; //#5c6d7f; //old: #444444
$link-gray: #333;
$journal-gray: #2C3E52; // old:#666666, 5c6d7f
$list_metadata_title_paper: #333;
$list_show_hide_button: #2d3e52; //#5c6d7f;
$highlight-searchterm: #eff3f4;
$modal-title: #2d3e52;
$area-title-h2: #333;

// Additional colors for buttons etc.
$okm-modal-btn: #2d3e52;
$infolink: #E55137;
$framed-item: #2C3E52;//gelb:#f1c500;
$dataset: #2C3E52;

$lower_value_tag: #2C316E;
$higher_value_tag: #DC2260;
$highlight: #e1e5e5;

@if $skin == 'viper' {
    // Map Bubble Colors
    $white: white;
    $lightest-blue: #F1F6FA; //old: #F1F6FA
    $light-blue: #D2E4F0;
    $dark-blue: #444444; // old: #1F77B4, #2C3E52

    // OKMaps
    $okm-red: #e55137;
    $okm-blue: #444444;
    $okm-gray: #808B8D;
    $okm-light-gray: #f9f9f9;
    $okm-green: #51c9ae;
    $okm-clouds: #F8F8F8;

    // Text colors
    $medium-blue: #3696e0;
    $dark-red: #A70805;
    $black: #444444;
    $author-green: #216500;
    $abstract-gray: #444; //#5c6d7f; //old: #444444
    $link-gray : #444;
    $journal-gray: #000000; // old:#666666
    $list_metadata_title_paper: #3696e0;
    $list_show_hide_button: #3696e0;
    $highlight-searchterm: #F8F8F8;
    $modal-title: $medium-blue;
    $area-title-h2: $okm-blue;

    // Additional colors
    $okm-modal-btn: #3696e0;
    $infolink: #444444;
    $framed-item: #3696e0;
    $dataset: #444444;
}

@if $skin == 'cris_vis' {
    $dark-blue: #2C316E;
    $okm-blue: #2C316E;
    $medium-blue: #2C316E;
    $okm-modal-btn: #7A77A5;
    $framed-item: #2C316E;
    $okm-clouds: #F4F4F6;
    $list_show_hide_button: #7A77A5;
    $lower_value_tag: #2C316E;
    $higher_value_tag: #DC2260;
    $highlight-searchterm: #F4F4F6;
    $modal-title: $medium-blue;
    $area-title-h2: $okm-blue;
}

@if $skin == 'linkedcat' {
    $dark-blue: #333;
    $medium-blue: #0047bb;
    $link-gray: $medium-blue;
    $okm-clouds: #f1f1f1;
    $okm-modal-btn: #0047bb;
    $framed-item: #0047bb;
    $journal-gray: #0047bb;
    $list_metadata_title_paper: #0047bb;
    $list_show_hide_button: #818181;
    $okm-gray: #818181;
    $paper-icon: #cbcbcb;
    $highlight-searchterm: #dadada;
    $modal-title: $medium-blue;
    $area-title-h2: $okm-blue;
}

@if $skin == 'covis' {
    $dark-blue: #333;
    $medium-blue: #1e6662;
    $link-gray: $medium-blue;
    $okm-clouds: #f1f1f1;
    $okm-modal-btn: #1e6662;
    $framed-item: #1e6662;
    $journal-gray: #1e6662;
    $list_metadata_title_paper: #1e6662;
    $list_show_hide_button: #1e6662;
    $okm-gray: #818181;
    $paper-icon: #cbcbcb;
    $highlight-searchterm: #dadada;
    $okm-red: #1e6662;
    $infolink: #1e6662;
    $modal-title: $medium-blue;
    $area-title-h2: $okm-blue;
}

@if $skin == 'triple' {
    $okm-red: #622166;
    $dark-blue: #666666;
    $medium-blue: #622166;
    $link-gray: #622166;
    $okm-clouds: #f1f1f1;
    $okm-modal-btn: #622166;
    $framed-item: #622166;
    $journal-gray: #622166;
    $list_metadata_title_paper: #622166;
    $list_show_hide_button: #622166;
    $okm-gray: #818181;
    $paper-icon: #cbcbcb;
    $highlight-searchterm: #EAEAEA;
    $infolink: #622166;
    $modal-title: $medium-blue;
}