// colors.scss
// Color pallette

// Map Bubble Colors
$white: white;
$lightest-blue: #F1F6FA; //old: #F1F6FA
$light-blue: #D2E4F0;
$dark-blue: #444444; // old: #1F77B4, #2C3E52

// OKMaps
$okm-red: #F06138;
$okm-blue: #444444;
$okm-gray: #808B8D;
$okm-light-gray: #f9f9f9;
$okm-green: #51c9ae;
$okm-clouds: #F8F8F8;

// Text colors
$medium-blue: #2D72D6;
$dark-red: #A70805;
$black: #444444;
$author-green: #216500;
$abstract-gray: #333; //#5c6d7f; //old: #444444
$journal-gray: #2D72D6; // old:#666666
$list_metadata_title_paper: #2D72D6;
$list_show_hide_button: #b9b9b9;

// Additional colors
$okm-modal-btn: #2D72D6;
$infolink: #2D72D6;
$framed-item: #01B7F0;