// colors.scss
// Color pallette

// Map Bubble Colors
$white: white;
$lightest-blue: #F1F6FA; //old: #F1F6FA
$light-blue: #D2E4F0;
$dark-blue: #2C3E52; // old: #1F77B4

// OKMaps
$okm-red: #E55137;
$okm-blue: #2C3E52;
$okm-gray: #808B8D;
$okm-light-gray: #E1E5E6;

// Text colors
$medium-blue: #4d7199;
$dark-red: #A70805;
$black: black;
$author-green: #216500;
$abstract-gray: #5c6d7f; //old: #444444
$journal-gray: #5c6d7f; // old:#666666
