// colors.scss
// Color pallette

// Map Bubble Colors
$lightest-blue: white; //old: #F1F6FA
$light-blue: white; //old: #D2E4F0
$dark-blue: #2C3E52; // old: #1F77B4

// OKMaps
$okm-red: #E55137;
$okm-blue: #2C3E52;
$okm-gray: #808B8D;
$okm-light-gray: #E1E5E6;

// Text colors
$dark-red: #4d7199;// old: #A70805
$author-green: black; // not green anymore! #216500
$abstract-gray: #5c6d7f; //old: #444444
$journal-gray: #5c6d7f; // old:#666666