// Overview over variables used

// Typography
$text-color: $black;

// Map
$bubble-color: $white;
$bubble-active: $white;
$bubble-edge: $dark-blue;

// Color of the circles
$circle-fill: $white;
$circle-stroke: $dark-blue;
$circle-zoom-unselected-fill: $dark-blue;
$circle-zoom-selected-fill: $white;
$circle-area: $white;

$area-title-h2: $okm-blue;

//List colors
$list_metadata_title_paper: $medium-blue;
$list_links: $okm-red;
$list_links_hover: $okm-blue;
$list_detail: $black;
$list_detail_authors: $black;
$list_detail_in: $journal-gray;
$list_abstract: $abstract-gray;
$list_show_hide_button_hover: $okm-blue;
$list_explorer_header: $okm-clouds;
$list_show_hide_button_border: $okm-clouds;
$list_metadata_title_paper: $medium-blue;
$list_metadata_border_color: $okm-light-gray; // unused
$list_abstract_border_left: $okm-light-gray; // unused

$multiplesview: $medium-blue;

$papers_title: $medium-blue;
$papers_details: $black;
$papers_holder_a: $okm-red;

$iframe_modal_status: $okm-red;
$open-access: $okm-red;

@if $skin == 'linkedcat' {
    $open-access: #0047bb;
}