aioredis==2.0.1
aniso8601==9.0.1
async-timeout==4.0.2
attrs==22.2.0
bibtexparser==1.4.1
click==8.0.4
dataclasses>=0.6
flasgger==0.9.7.1
Flask==2.0.3
Flask-Cors==4.0.0
flask-restx @ git+https://github.com/python-restx/flask-restx@3ea4ce19663dc98645bc7f2bbd070c29d354ea85
gunicorn==21.2.0
hiredis==2.0.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==3.2.0
MarkupSafe==2.0.1
marshmallow==3.14.1
mistune==2.0.5
numpy==1.19.5
packaging==21.3
pandas==1.1.5
psycopg2-binary==2.9.8
pyparsing==3.1.1
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
redis==4.3.6
six==1.16.0
typing-extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0
