<div id="list_comment" class="comments">
    <span><i class="fa fa-comment"></i></span>
    <div class="comment-text">
        <span id="comment" class="highlightable">"{{comment}}"</span>
        {{#if has_author}}
            <span id="comment-by-label">by</span>
            <span id="comment-author" class="highlightable comment-author">{{author}}</span>
        {{/if}}
    </div>
</div>