<div class="list_entry">
<a class="list_anchor"></a>
<div class="list_metadata">
<div id="oa"><span id="open-access-logo_list">open access <span class="outlink_symbol">&#xf09c;</span></span>
<span id="dataset-icon_list" class="dataset-tag">dataset <span class="fa fa-database"></span></span>
</div>
<div id="list_tags" class="tags highlightable">
</div>
    <div class="list_title">
<!--<span id="open-access-logo_list">open access <span class="outlink_symbol">&#xf09c;</span></span>-->
<!--<span id="dataset-icon_list" class="fa fa-database"></span>-->
<!--<span id="file-icon_list" class="fa fa-file-text"></span>-->
<a id="paper_list_title" class="highlightable"></a>

	
    </div>
    <div class="list_links">
        <a href="#" target="_blank" class="outlink">LINK  <span class="outlink_symbol">&#xf0c1;</span></a>
        <a class="link2 oa-link">PDF  <span class="outlink_symbol">&#xf06e;</span></a>
    </div>
	<div class="list_details highlightable">
		<span class="list_authors"></span>
		<span class="list_in"> in </span>
		<span class="list_published_in"></span>
		<span class="list_pubyear"></span>
	</div>
	<div class="doi_outlink">
	</div>
</div>

<div class="highlightable">
	<p id="list_abstract"></p>
</div>
<div id="list_keywords">
	<span class="keyword_tag"></span> <span class="keywords highlightable"></span>
</div>
<div class="list_metrics">

</div>
<div id="list_area">
	<span class="area_tag"></span> <span class="area_name"></span>
</div>
<div class="list_readers">
	<span class="list_readers_entity"></span> <span class="num_readers"></span>&nbsp;
</div>
<div class="conceptgraph"><a href="" target="_blank">Explore connections of this document</a></div>

</div>
