<div style="border-bottom: 2px solid #E1E5E6; padding-left: 15px; border-left: 0px solid #E1E5E6;">
<div class="list_metadata">

    <div class="list_title">
	<img style="vertical-align:top; width:12px, height:12px; padding-left:0px; margin-top:0px;" 
           src="../../vis/images/open-access-logo.png">
<a href="#" id="paper_list_title" class="highlightable"></a>
	
    </div>
    <div class="list_links">
        <a href="#" target="_blank" class="outlink">HTML <span class="outlink_symbol">&nbsp;&#xf08e;</span></a>
        <a href="#" target="_blank" class="link2 outlink_symbol">&nbsp;&#xf019;</a>
    </div>
	<div class="list_details highlightable">
		<span class="list_authors"></span>
		<span class="list_in"> in </span>
		<span class="list_published_in"></span>
		<span class="list_pubyear"></span>
	</div>
</div>
<div class="highlightable">
	<p id="list_abstract"></p>
</div>
<div id="list_area">
	<span class="area_tag"></span> <span class="area_name"></span>
</div>
<div class="list_readers">
	<span class="num_readers"></span> <span class="list_readers_entity"></span>&nbsp;
</div>
</div>