<div class="list_entry">
<div class="list_metadata">

    <div class="list_title">
<span id="open-access-logo_list">open access <span class="outlink_symbol">&#xf09c;</span></span>	
<a id="paper_list_title" class="highlightable"></a>

	
    </div>
    <div class="list_links">
        <a href="#" target="_blank" class="outlink">HTML  <span class="outlink_symbol">&#xf08e;</span></a>
        <a class="link2 pdf-link">PDF  <span class="outlink_symbol">&#xf06e;</span></a>
    </div>
	<div class="list_details highlightable">
		<span class="list_authors"></span>
		<span class="list_in"> in </span>
		<span class="list_published_in"></span>
		<span class="list_pubyear"></span>
	</div>
</div>
<div class="highlightable">
	<p id="list_abstract"></p>
</div>
<div id="list_keywords">
	<span class="keyword_tag"></span> <span class="keywords highlightable"></span>
</div>
<div id="list_area">
	<span class="area_tag"></span> <span class="area_name"></span>
</div>
<div class="list_readers">
	<span class="num_readers"></span> <span class="list_readers_entity"></span>&nbsp;
</div>
</div>