<div class="">
    <div class="col-xs-12" id="explorer_header">
        <div id="show_hide_button" class="row">
        </div>

        <div id="explorer_options" class="row">
        </div>
        <div class="col-xs-12" id="papers_list"></div>