<div class="">
    <div class="col-xs-12" id="explorer_header">
        <div id="show_hide_button" class="row">
            <div class="col-xs-2" >▼</div>
            <div class="col-xs-8" id="show_hide_button_label">
                <span id="show_hide_label">{{ show_list }}</span>
            </div>
            <div class="col-xs-2 text-right">▼</div>
        </div>

        <div id="explorer_options" class="row">
            <div class="" id="filter_container">
                <div class="input-group input-group-sm">
                    <input id="filter_input" type="text" class="form-control">
                    <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
                </div>
            </div>

            <div class="" id="sort_container">
                {{#if dropdown}}
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" id="sort" type="button" data-toggle="dropdown">
                        {{sort_by_label}}
                        <span id="curr-sort-type"></span>
                        <span class="caret"></span>
                    </button>
                    <ul id="sort-menu-entries" class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="sort-menu">
                    </ul>
                    {{else}}
                    <span id="sortby">{{sort_by_label}}</span>
                    <div id="sort-buttons" class="btn-group btn-group-sm pull-right" data-toggle="buttons" role="group"></div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col-xs-12" id="papers_list"></div>
