@import "list/header";
@import "list/entry";

/* ################ List Explorer ############### */
#papers_list {
    float: right;
    overflow-y: scroll;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    display: none;
    font-size: 10px;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

@media screen and (max-width: 1100px) {
    
#papers_list {
        font-size: 8px;
    }
}