@import 'map/bubbles';
@import 'map/papers';

/* ################ Chart ############### */

div#headstart-chart {
    /*position: absolute;*/
    font-family: Helvetica;
    /*margin-top: 6px;*/
}

#chart-svg {
    overflow-x: scroll;
}

rect {
    fill: rgb(31, 119, 180);
    fill-opacity: .0;
    stroke: rgb(31, 119, 180);
    stroke-width: 0;
}

path {
    fill: rgb(255, 255, 255);
    fill-opacity: .25;
    stroke: rgb(128, 128, 128);
    stroke-width: 1px;
}

line {
    stroke: rgb(31, 119, 180);
    stroke-width: 1px;
}

text {
  font: 10px sans-serif;
}

.framed {
    stroke: #e55137;
    stroke-width: 3px;
}

.framed_recommended {
    stroke: yellow;
    stroke-width: 3px;
}

.framed_bookmarked {
    stroke: green;
    stroke-width: 2px;
}

.recommended {
    font-size: 10pt;
    font-weight: bold;
    color: black;
    border: 1px yellow solid;
    background-color: yellow;
}

.bookmarked {
    font-size: 10pt;
    color: black;
    border: 1px green solid;
}

.tobookmark {
    font-size: 10pt;
    font-weight: bold;
    color: white;
    border: 1px green solid;
    background-color: green;
}


#area_title {
    margin: 0;
    padding: 0;
    h2 {
        font-family: 'Helvetica', sans-serif;
        font-size: 14px;
        font-weight: bold;
        margin-top: 11px;
        margin-bottom: 11px;
        padding: 0;
        text-align: center;
        text-transform: none;
        color: black;
        background-color: transparent;
    }
}