/* ########### Popups/Modals ########### */

#iframe_modal {

    .modal-body {
        height: 80vh;
        width: 100%;
        display: table;
        overflow: hidden;
    }
    
    #status {
        a {
            text-decoration: underline;
            color: $okm-red;
        }
    }

}

#images_modal {

    .modal-lg {
        max-width: 788px;
    }

    .modal-body {
        height: 80vh;
        width: 100%;
        display: table;
        overflow: scroll;

        #images_holder {
            width: 100%;
            height: 75vh;
            overflow-y: scroll;
        }
    }
}

#info_modal {
    
    .modal-dialog {
        width: 80%;
        max-width: 700px;
    }
}

#pdf_iframe {
    width: 100%;
    height: 75vh;
}

.modal {
    text-align: center;
    padding: 0 !important;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
        /* Adjusts for spacing */
    }

    //Firefox bug
    .glyphicon-refresh-animate {
        animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg);}
    }

    @keyframes spin {
        from { transform: scale(1) rotate(0deg);}
        to { transform: scale(1) rotate(360deg);}
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-header {
    padding-bottom: 0px;
    border-bottom: 0px;
}

h5 {
    padding-top: 10px;
}