/* ########### Popups/Modals ########### */

#iframe_modal {

    .modal-body {
        height: 80vh;
        width: 100%;
        display: table;
        overflow: hidden;
    }

    #status {
        a {
            text-decoration: underline;
            color: $iframe_modal_status;
        }
    }

}

#images_modal {

    .modal-lg {
        max-width: 788px;
    }

    .modal-body {
        height: 80vh;
        width: 100%;
        display: table;
        overflow: scroll;

        #images_holder {
            width: 100%;
            height: 75vh;
            overflow-y: scroll;
        }
    }
}

#info_modal {

    .modal-dialog {
        width: 100%;
        max-width: 800px;

        .modal-content {
            padding: 30px;
        }
    }


}

.modal-title {
    color: $okm-red;
}

#pdf_iframe {
    width: 100%;
    height: 75vh;
}

.modal {
    text-align: center;
    padding: 0 !important;

    &:before {
        content: '';
        /*display: inline-block;*/
        height: 100%;
        /*vertical-align: middle;*/
        margin-right: -4px;
        /* Adjusts for spacing */
    }

    //Firefox bug
    .glyphicon-refresh-animate {
        animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg);}
    }

    @keyframes spin {
        from { transform: scale(1) rotate(0deg);}
        to { transform: scale(1) rotate(360deg);}
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-header {
    padding-bottom: 0px;
    border-bottom: 0px;
}

h5 {
    padding-top: 10px;
}

//draggable functionality
.modal-header {
    cursor: move; /* fallback: no `url()` support or images disabled */
    cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
    cursor: -moz-grab; /* Firefox 1.5-26 */
    cursor: grab; /* W3C standards syntax, should come least */
}

.modal-header-active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}


// draggable styles taken from jquery-ui
.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}

//resizable styles taken from jquery-ui
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}


.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 10px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
