/* ########### Popups/Modals ########### */

#iframe_modal {

    .modal-body {
        height: 80vh;
        width: 100%;
        display: table;
        overflow: hidden;
    }

    #status {
        a {
            text-decoration: underline;
            color: $iframe_modal_status;
        }
    }

}

#images_modal {

    .modal-lg {
        max-width: 788px;
    }

    .modal-body {
        height: 80vh;
        width: 100%;
        display: table;
        overflow: scroll;

        #images_holder {
            width: 100%;
            height: 75vh;
            overflow-y: scroll;
        }
    }
}

#info_modal {

    .modal-dialog {
        width: 100%;
        max-width: 800px;

        .modal-content {
            padding: 40px;
        }
    }


}

#viper_edit_modal {

    .modal-dialog {
        width: 100%;
        max-width: 800px;

        .modal-content {
            padding: 40px;
            overflow: hidden;

            #viper-edit-screenshot {
                max-width: 100%;
                max-height: 100%;
                -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
            }
        }

    }


}

#viper_embed_modal {

    .modal-dialog {
        width: 100%;
        max-width: 800px;

        .modal-content {
            padding: 40px;
            textarea {
                width: 100%;
                display: block;
            }
        }
    }


}

.modal-body, .modal-header {
    padding: 0px;
}

.modal-content th {
    color: $black;
    width: 200px;
}

#pdf-modal .modal-content {
    padding: 15px;
}

.modal-title {
    color: $medium-blue;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-header {
    margin-bottom: 20px;
}

.modal-content h3  {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;


}

.modal-content table {
    border: 3px solid $okm-clouds;
}

.viper-modal-title {
    color: $medium-blue;
    text-transform: uppercase;
}

#pdf_iframe {
    width: 100%;
    height: 75vh;
}

.modal {
    text-align: center;
    padding: 0 !important;

    &:before {
        content: '';
        /*display: inline-block;*/
        height: 100%;
        /*vertical-align: middle;*/
        margin-right: -4px;
        /* Adjusts for spacing */
    }

    //Firefox bug
    .glyphicon-refresh-animate {
        animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg);}
    }

    @keyframes spin {
        from { transform: scale(1) rotate(0deg);}
        to { transform: scale(1) rotate(360deg);}
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-header {
    padding-bottom: 0px;
    border-bottom: 0px;
}

h5 {
    padding-top: 10px;
}

//draggable functionality
.modal-header {
    cursor: move; /* fallback: no `url()` support or images disabled */
    cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
    cursor:    -moz-grab; /* Firefox 1.5-26 */
    cursor:         grab; /* W3C standards syntax, should come least */
}

.modal-header-active {
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}


// draggable styles taken from jquery-ui
.ui-draggable-handle {
    -ms-touch-action: none;
    touch-action: none;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {

    border-top: 3px solid $okm-clouds;
}

#embed-modal-text, #viper-edit-screenshot {
    margin-bottom: 20px;
}
