/* ########### Popups/Modals ########### */

#iframe_modal {
    .modal-body {
        height: 80vh;
        width: 100%;
        display: table;
        overflow: hidden;
    }

    #status {
        a {
            text-decoration: underline;
            color: $iframe_modal_status;
        }
    }
}

#images_modal {
    .modal-lg {
        max-width: 788px;
    }

    .modal-body {
        height: 80vh;
        width: 100%;
        display: table;
        overflow: scroll;

        #images_holder {
            width: 100%;
            height: 75vh;
            overflow-y: scroll;
        }
    }
}

#info_modal {
    .modal-dialog {
        width: 100%;
        max-width: 800px;

        .modal-content {
            padding: 40px;

            p {
                font-family: $base-font-family;
                font-size: 16px;
                margin: 0 0 30px !important;
            }
        }
    }
}

#edit-button-text p {
    margin: 0 0 30px !important;
}

#viper_edit_modal {
    .modal-dialog {
        width: 100%;
        max-width: 800px;

        .modal-content {
            padding: 40px;
            overflow: hidden;

            p {
                font-family: $base-font-family;
                font-size: 16px;
            }

            #viper-edit-screenshot {
                max-width: 100%;
                max-height: 100%;
                -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
            }
        }
    }
}

#embed_modal {
    .modal-dialog {
        width: 100%;
        max-width: 800px;

        .modal-content {
            padding: 40px;

            textarea {
                width: 100%;
                display: block;
                padding: 10px;
            }
        }

        .modal-body {
            p {
                font-family: $base-font-family;
                font-size: 16px;
            }
        }
    }
}

.modal-body, .modal-header {
    padding: 0px;
}

.modal-content th {
    color: $black;
    width: 200px;
}

#pdf-modal .modal-content {
    padding: 15px;
}

.modal-title {
    color: $medium-blue;
    font-size: 20px;
    font-weight: $fontweight700;
    font-family: $base-font-family;
    margin:0px !important;
    text-transform: uppercase;
}

.modal-header {
    margin-bottom: 20px;
}

h3 {
    margin: 0px;
}

#info-body h3  {
    font-weight: $fontweight700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 20px 0px 10px;
    color: $medium-blue;
}

.modal-content table {
    border: 3px solid $okm-clouds;
    font-family: $base-font-family;
    font-size: 14px;
}

.embed-modal-title {
    color: $medium-blue;
    text-transform: uppercase;
}

#pdf_iframe {
    width: 100%;
    height: 75vh;
}

.modal {
    text-align: center;
    padding: 0 !important;

    &:before {
        content: '';
        /*display: inline-block;*/
        height: 100%;
        /*vertical-align: middle;*/
        margin-right: -4px;
        /* Adjusts for spacing */
    }

    //Firefox bug
    .glyphicon-refresh-animate {
        animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg);}
    }

    @keyframes spin {
        from { transform: scale(1) rotate(0deg);}
        to { transform: scale(1) rotate(360deg);}
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-header {
    padding-bottom: 0px;
    border-bottom: 0px;
}

h5 {
    padding-top: 10px;
}

.wait-message {
    max-width: 650px;
    margin: 0px auto;
    font-size: 16px;
    font-family: $base-font-family;
}

//draggable functionality
.modal-header {
    cursor: move; /* fallback: no `url()` support or images disabled */
    cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
    cursor:    -moz-grab; /* Firefox 1.5-26 */
    cursor:         grab; /* W3C standards syntax, should come least */
}

.modal-header-active {
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}

// draggable styles taken from jquery-ui
.ui-draggable-handle {
    -ms-touch-action: none;
    touch-action: none;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    border-top: 3px solid $okm-clouds;
}

#embed-modal-text, #viper-edit-screenshot {
    margin: 20px 0;
}
@if $skin == 'cris_vis' {
    #info_modal .modal-dialog {
        max-width: 760px;

        img {
            max-width: 100%;
        }

        .legend {
            visibility: visible;
            padding: 5px 10px 0px 0px;
            width: 100%;

            .color-box {
                margin: 0px !important;
            }
        }
    }
    .modal-body {
        text-align: right;

        p {
            text-align: left !important;
        }
    }

    h5 {
        text-align:left !important;
        font-size: 14px;
        font-family: $base-font-family;
        text-transform: uppercase;
    }

    .modal-title {
        font-size: 16px;
        font-family: $base-font-family;
        margin:0px !important;
    }
}

