/* ########### Timeline ########### */
line {
    &.connection {
        stroke: rgb(255, 0, 0);
        stroke-width: 2;
    }

    stroke: rgb(0, 0, 0);
    stroke-width: .15px;
}

.tl-title {
    float: left;
    text-align: center;
}