<p>Die Ludwig Boltzmann Gesellschaft hat im Jahr 2015 als europäische Premiere die Crowdsourcing-Initiative 
"Reden Sie mit!" realisiert. Ziel war es, neue Forschungsfragen im Bereich der psychischen Gesundheit zu generieren. 
Mehr als 400 hochwertige Beiträge wurden auf einer Onlineplattform von Patienten, Angehörigen und ExpertInnen aus dem 
Gesundheitsbereich eingereicht, analysiert und schließlich von einer ExpertInnen-Jury bestehend aus PatientInnenvertreter 
und FachexpertInnen in verschieden Forschungsbereiche zusammengefasst. Das Thema "Kinder von psychisch erkrankten Eltern" 
erwies sich als gesellschaftlich besonders relevant und dringlich. Die Ludwig Boltzmann Gesellschaft hat inzwischen zwei 
Forschungsgruppen gebildet, die in den nächsten vier Jahren (2018-2021) zu diesem Thema forschen und konkrete Maßnahmen umsetzen. 
("D.O.T. - Die offene Tür" <a href="www.dot.lbg.ac.at" target="_blank">www.dot.lbg.ac.at</a> und 
"Village – How to raise the village to raise the child" <a href="www.village.lbg.ac.at" target="_blank">www.village.lbg.ac.at</a>)

<p><strong>Offene Fragen für die Wissenschaft</strong><br>
Darüber hinaus gibt es aber eine Vielzahl weiterer Fragestellungen, die bislang von der Forschung nicht aufgegriffen wurden. 
Diese Visualisierung, die gemeinsam mit dem Verein Open Knowledge Maps realisiert wurde, macht die Ergebnisse des LBG Crowdsourcings 
im Bereich psychischer Erkrankungen zugänglich.

<p>Ziel ist es, NutzerInnen einen raschen Überblick zu bieten und eine detaillierte Exploration der Forschungsfragen zu ermöglichen.

<p>Dazu wurden die Forschungsfragen zu Themen und in weiterer Folge zu
Themenfeldern zusammengefasst. Die Themenfelder werden dabei als Bubbles
visualisiert. Wenn Sie auf eine Bubble klicken, können Sie die dazugehörigen Themen
als Elemente innerhalb der Bubbles sehen. Den Themen sind dann die entsprechenden
Forschungsfragen zugeordnet. Wenn Sie auf eines der Themen klicken, werden in der
rechten Spalte die zugeordneten Forschungsfragen angezeigt.

<p>Für weitere Fragen kontaktieren Sie bitte:<br><br>
Ludwig Boltzmann Gesellschaft<br>
LBG Open Innovation in Science Center<br>
Dr. Lucia Malfent<br>
Nußdorferstraße 64<br>
1090 Wien<br>
Lucia.malfent(at)lbg.ac.at


<p><strong>TeilnehmerInnen:</strong> 422

<div>
<h5>1. Altersgruppe</h5>
    <div class="statistics-image"><img src="img/Sample_Altersgruppe.svg"></div>
<h5>2. Background</h5>
    <div class="statistics-image"><img src="img/Sample_Background.svg"></div>
<h5>3. Bundesländer AT</h5>
    <div class="statistics-image"><img src="img/Sample_Bundesland.svg"></div>
<h5>4. Geschlecht</h5>
    <div class="statistics-image"><img src="img/Sample_Geschlecht.svg"></div>
<h5>5. Höchste Ausbildung</h5>
    <div class="statistics-image"><img src="img/Sample_Hoechste_Ausbildung.svg"></div>
<h5>6. Land</h5>
    <div class="statistics-image"><img src="img/Sample_Land.svg"></div>
</div>