<p>Im wegweisenden Projekt des Open Innovation in Science Center (OIS Center) der LBG
"Crowdsourcing Research Questions In Science (CRIS)" werden neue Forschungsfragen
mittels Crowdsourcing generiert. In der ersten Phase von CRIS (CRIS I) wurde dieser
Ansatz erfolgreich im Bereich psychischer Erkrankungen angewandt. Dieser
Forschungsbereich ist besonders relevant für die Allgemeinheit, da 20% der
Bevölkerung im Laufe ihres Lebens an einer psychischen Krankheit erkranken.

<p>In dieser Visualisierung, welche in Kooperation mit dem Verein Open Knowledge Maps
erstellt wurde, werden die Ergebnisse von CRIS I der Allgemeinheit zugänglich
gemacht. Ziel ist es, NutzerInnen einerseits einen möglichst raschen Überblick über die
Ergebnisse zu geben und andererseits eine detaillierte Exploration der
Forschungsfragen zu ermöglichen.

<p>Dazu wurden die Forschungsfragen zu Themen und in weiterer Folge zu
Themenfeldern zusammengefasst. Die Themenfelder werden dabei als Bubbles
visualisiert. Wenn Sie auf eine Bubble klicken, können Sie die dazugehörigen Themen
als Elemente innerhalb der Bubbles sehen. Den Themen sind dann die entsprechenden
Forschungsfragen zugeordnet. Wenn Sie auf eines der Themen klicken, werden in der
rechten Spalte die zugeordneten Forschungsfragen angezeigt.

<p><strong>TeilnehmerInnen:</strong> 422

<div>
<h5>1. Altersgruppe</h5>
    <img src="img/Sample_Altersgruppe.svg">
<h5>2. Background</h5>
    <img src="img/Sample_Background.svg">
<h5>3. Bundesländer AT</h5>
    <img src="img/Sample_Bundesland.svg">
<h5>4. Geschlecht</h5>
    <img src="img/Sample_Geschlecht.svg">
<h5>5. Höchste Ausbildung</h5>
    <img src="img/Sample_Höchste Ausbildung.svg">
<h5>6. Land</h5>
    <img src="img/Sample_Land.svg">
</div>