<!-- Modal -->
<div id="embed_modal" class="modal fade" role="dialog" tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">&times;</button>
        <h3 id="embed-title" class="embed-modal-title" style="font-size: 20px;"></h3>
      </div>
      <div id="embed-body" class="modal-body">
      <p>You can use this code to embed the visualization on your own website or in a dashboard.
        <form>
        <textarea id="embed-modal-text" rows="3" readonly></textarea>
        <button class="btn btn-primary" id="embed-button"></button>
        </form>
      </div>
    </div>

  </div>
</div>