* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #eff3f4;
}

body {
    color: #333;
    font-family: 'Open Sans', Helvetica;
    font-weight: 300;
    margin: 0px auto 0;
    width: 100%;
    font-size:16px;
    /*max-width: 1600px;*/
    -webkit-font-smoothing: subpixel-antialiased;
    clear:both;
    position: relative;
    top: 0px;
    /*     -ms-word-break: break-all;*/
    word-break: break-word;
    word-wrap: break-word; 
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -o-hyphens: auto;
}

.info h3 {
    font-size: 20px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 0px;
}

a {
    color: #3696e0;
}

a:hover {
    color: #2D3E52;
}

.search-box {
    background-image: linear-gradient(rgba(54, 150, 224, 1), rgba(45, 62, 82, 1)) /*rgba(80, 200, 173, 1)*/
        /*url(../img/start3.png)*/;
    background-color: #3696e0;/*#5497cb;*/
    background-repeat: no-repeat; 
    background-position: 100% 70%;
    background-size: 100%;
    padding: 80px 0px 100px;
}

.search-box .background2 .team p {
    color: white;
}

.search-box #about-page, .search-box #about-page .background2 {
    background-color: transparent;
}

.search-box .background2 .team {
    padding: 0px 20px;
}

.search-box .background2 {
    background-color: transparent;
    margin: 0px auto;
    padding: 0px;
}

.waiting-description, .waiting-title  {
    color: white;
    text-align: center;
}

.waiting-title {
    max-width: 750px;
    font-weight: 300;
    margin: 0px auto;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.waiting-description {
    font-size: 18px;
    max-width: 850px;
    margin: 0px auto 40px;
    font-weight: 300;
}

.mittig2 {
    max-width: 750px;
    width: 100%;
    margin: 0px auto;
    background-color: white;
    padding: 30px 50px;
    border-radius: 5px;
    moz-border-radius: 5px;
}

.mittig2 .text-field {
    height: 45px;
    padding-left: 5px;
    width: 87%;
}

.submit-btn {
    margin-left: -5px;
    margin-top: -2px;
    background-color: #2D3E52;
    border-color: #2D3E52;
    color: white;
    font-weight: 300;
    width: 10%;
    height: 45px;
    font-size: 20px;
    border-radius: 5px;
    moz-border-radius: 5px;
    padding: 0px 0px;
    vertical-align: middle;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
}

.submit-btn:hover {
    background-color: #3696e0;
    border-color: #3696e0;
}

a.newsletter2:hover, a.newsletter2:active, a.newsletter2:focus {
    border: 2px solid #3696e0;
    color: white;
    background-color: #3696e0;
    text-decoration: none;
}

.newsletter2 {
    font-size: 12px;
    border-radius: 5px;
    moz-border-radius: 5px;
    padding: 5px;
    border: 2px solid #eee;
    color: #eee;
    background-color: transparent;
    font-weight: 300;
    text-decoration: none;
}

#viper-search-results, #viper-search-pager {
    display: none;
    max-width: 800px;
    width: 100%;
    margin: 30px auto;
}

#project_count, .loading {
    padding: 0px 0 20px;
}

.paginationjs.paginationjs-theme-blue .paginationjs-pages li.active > a {
    background: #3696e0;
}

.paginationjs.paginationjs-theme-blue .paginationjs-go-input > input[type="text"], .paginationjs.paginationjs-theme-blue .paginationjs-pages li {
    border-color: #3696e0;
}

.paginationjs.paginationjs-theme-blue .paginationjs-pages li > a {
    color: #3696e0;
}

.paginationjs.paginationjs-theme-blue .paginationjs-pages li > a:hover {
    background: #f9f9f9;
}

.paginationjs.paginationjs-theme-blue .paginationjs-pages li.active > a:hover {
    background: #3696e0;
}

#progress {
    color: #fff;
    text-align: center;
    font-size: 18px;
    max-width:800px;
    margin:0px auto;
}

.awesome {
    font-family: 'FontAwesome';
}

.list-group-item {
    margin-bottom: 0px;
    border-width: 1px 0px 0;
    border-style: solid; 
    border-color: #ddd;
    padding: 10px 0px;
}

.list-group {
    border-bottom: 1px solid #ddd;
}
.project-title {
    font-size: 16px;
}

.project-code {
    color: grey;
    font-size: 12px;
    margin-left: 5px;
}

.project-funders {
    margin-top: 10px;
    font-size: 12px;
    color: grey;
}

.project-organisations {
    font-size: 12px;
}

.project-resources {
    font-size: 12px;
    padding-top: 10px;
}

.error-building-map-button {
    text-align:center; 
    margin-top: 30px;
}

.error-building-map-image {
    margin-top: 30px;
    max-width: 800px;
    text-align:center;
}

.waiting-page .waiting-title  {
    font-size: 24px;
}

.waiting-page .waiting-title,  .waiting-page .waiting-description {
    font-weight: normal;
    max-width: 900px;
}

.waiting-page .waiting-description  {
    font-size: 18px;
    margin: 40px auto 0;
}

.waiting-page .waiting-title .project_name {
    font-weight: bold;
}

#info-totals {
    text-align:center;
    font-size: 18px;
    margin: 40px auto 0;
    max-width: 800px;
}

.headline-viper {
    max-width: 800px;
    font-weight: 300;
    margin: 50px auto;
    font-size: 40px;
    text-align: center;
    color: #3696e0;   
}

.try-out-maps a {
    margin-left: 10px;
}

.try-out-maps {
    margin: 20px 0 0 0;
}

.underline, .underline:focus {
    text-decoration: underline;
}

.create-map {
    background-color: #3696e0; 
    border-radius: 5px; 
    moz-border-radius: 5px;
    padding: 10px; 
    color:white;
    border: 2px solid #3696e0;
}

.create-map:hover {
    background-color: white;
    border: 2px solid #3696e0;
    color:#3696e0;
    text-decoration: none;
}

.ie-message {
    display: none;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.insufficient-resources {
    color: red;
}

.ui-widget-header {
    background: white;
    border: 1px solid #DDDDDD;
    color: #333333;
    font-weight: bold;
}

#progressbar {
    max-width: 650px;
    margin: 0px auto 10px;
    text-align: center;
    height: 20px;
}

.ui-widget-content {
    background: transparent;
}

.vipermenu {
    width:69%;
    display:inline-block; 
    text-align:right;
}

.vipermenu li {
    display:inline; 
    margin-left: 30px;
}
.vipermenu li a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.vipermenu li a:hover {
    color: white;
    text-decoration: none;
    border-bottom: 0px solid white;
}

.logoimg {
    border-radius: 5px;
    moz-border-radius: 5px;
    padding: 5px;
    width: 60px;
    background-color:white;
    border: 1px solid #eff3f4;
}

.builtby {
    background-color: #eff3f4;
    font-size: 12px;
    padding: 50px;
}

.vipercanvas {
    background-color: #3696e0; 
    max-width:100%; 
    height: 80px; 
    padding: 20px 50px;
}

.viperheader {
    max-width:1600px; 
    width:100%; 
    margin:0px auto;
}

.viperlogo {
    width:30%;
    display:inline-block;
}

.viperlogo img {
    display:inline-block; 
    vertical-align: bottom;
}

.viperdescr {
    display:inline-block; 
    vertical-align: bottom; 
    color:white;
    margin-left: -30px;
}

.viperdescr h2 {
    margin-bottom: 0px; 
    font-weight: 300; 
    display:inline-block;
}

.viperdescr span {
    font-size: 18; margin-left:5px;
}

.info {
    display:inline-block; 
    vertical-align:top;
    margin-right: 40px;
    max-width: 300px;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
}

.nav_bottom {
    display: block;
    background-color: transparent;
    line-height: 180%;
    padding: 0px 0px 0px;
}

.nav_bottom a {
    text-decoration: none;
    border-bottom: 1px solid #3696e0;
}

.nav_bottom a:hover, .nav_bottom a:active, .nav_bottom a:focus  {
    text-decoration: none;
    border-bottom: 0px;
}

ul {
    list-style: none;
}