<div class="scale-toolbar btn-group dropup">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="scale-menu" type="button" data-toggle="dropdown">
            {{scale_by_label}}
            <span id="curr-scale-type"></span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="scale-menu">
        </ul>
        <span id="curr-scale-explanation"></span><a id="infolink" class="scale-infolink" data-toggle="modal" data-type="text" href="#info_modal"></a>
        <div class="explanation-ids">
            Legende: <span class="explanation-id-fields"></span>
        </div>
    </div>
        {{#if credit}}
        <div id="credit" title="Viper was created by Open Knowledge Maps" style="position:absolute; right:50px; top: 0px; font-size:10px;">created by: <a href="https://openknowledgemaps.org/" target="_blank"><img class="logoimg" style="border:0px;" src="./img/okmaps-logo.png" alt="Viper was created by Open Kowledge Maps"></a></div>
        {{/if}}
</div>