<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta charset="utf-8">
    <title>Overview of research on psychology</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description"
        content="Get an overview of psychology, find relevant papers, and identify important concepts.">

    <script type="text/javascript" src="./triple/data-config-km.js"></script>
    <script type="text/javascript" src="./triple/data-config-sg.js"></script>

    <link rel="stylesheet" href="//openknowledgemaps.org/triple/search-flow/lib/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//openknowledgemaps.org/triple/search-flow/lib/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="//openknowledgemaps.org/triple/search-flow/css/search-flow.css">
</head>

<body style="margin:0px; padding:0px">

    <div class="overflow-vis">
        <div id="visualization" style="background-color:white;"></div>
    </div>

    <script type="text/javascript">
        const availableFiles = {
            km: {
                psychology: {
                    title: "psychology",
                    file: "./triple/data/psychology-km.json",
                },
                soft_skills: {
                    title: "soft skills",
                    file: "./triple/data/soft_skills-km.json",
                },
            },
            sg: {
                psychology: {
                    title: "psychology",
                    file: "./triple/data/psychology-sg.json",
                },
            }
        };

        const urlSearchParams = new URLSearchParams(window.location.search);
        const type = urlSearchParams.has("type") ? urlSearchParams.get("type") : "";
        const file = urlSearchParams.has("file") ? urlSearchParams.get("file") : "";

        var data_config = data_config_km;

        data_config.files = [availableFiles.km.psychology];

        if (availableFiles[type] && availableFiles[type][file]) {
            if (type === "sg") {
                data_config = data_config_sg;
            }
            data_config.files = [availableFiles[type][file]];
        }

        data_config.credit_embed = true;

        data_config.server_url = window.location.href.replace(/[^/]*$/, '') + "./main_integration/";

        document.title = `Overview of research on ${data_config.files[0].title}`;

        $(document).ready(function () {
            headstart.start();
        })
    </script>
</body>

<!-- Matomo -->
<script>
    // set this to true to enable Matomo tracking
    var enable_tracking = false;
    if (enable_tracking) {
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//dev.openknowledgemaps.org/piwik_stats/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    }
</script>
<!-- End Matomo Code -->

</html>