server {
    listen ${NGINX_PORT};

    proxy_read_timeout 300;
    proxy_connect_timeout 300;
    proxy_send_timeout 300; 
    client_max_body_size 100M;

    location /stable/ {

        proxy_pass http://stable_api_1:5001/api/;

        location /stable/persistence/ {
            proxy_pass http://stable_persistence_1:5001/api/persistence/;
        }
    }
}