server {
    listen ${NGINX_PORT};

    location /stable/ {
        
        client_max_body_size 100M;

        proxy_pass http://stable_api_1:5001/api/;

        location /stable/persistence/ {
            proxy_pass http://stable_persistence_1:5001/api/persistence/;
        }
    }
}