asn1crypto==0.24.0
async-timeout==4.0.2
cryptography==2.1.4
idna==2.6
importlib-metadata==4.8.3
keyring==10.6.0
keyrings.alt==3.0
numpy==1.19.5
packaging==21.3
pandas==1.1.5
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pyxdg==0.25
redis==4.3.6
SecretStorage==2.3.1
six==1.11.0
typing-extensions==4.1.1
zipp==3.6.0
