.list_entry {
    border-bottom: 2px solid #E1E5E6; 
    padding-left: 15px; 
    border-left: 0px solid #E1E5E6;
}

.list_entry_full {
    border-bottom: 0px; 
    padding-left: 15px; 
}

.list_metadata {
    /*border-top-width: 2px;
    border-top-style: solid;
    border-color: $okm-light-gray;*/
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: Helvetica;

    .list_title {
        font-size: 14px;
        margin-bottom: 4px;
        max-width: 82%;
        display: inline-block;
        font-weight: bold;

        #paper_list_title {
            text-decoration: none;
            color: $dark-red;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    #outlink_list {
        vertical-align:top; 
        width: 12px;
        height: 12px;
        padding-left:0px; 
        margin-top:0px;
    }

    .list_links {
        float: right;
        vertical-align: top;
        display: inline-block;
    }

    .list_links a {
        color: $okm-red;
        text-decoration: none;
        &:hover {
        color: $okm-blue;
    }
    }
    

    .outlink_symbol {
        font-family: FontAwesome;
    }

    .list_details {
        font: 12px 'Helvetica', sans-serif;
        font-size: 12px;
        line-height: 14px;
        color: $author-green;
        padding: 0;
        max-width: 82%;

        .list_authors {
            color: $author-green;
        }

        .list_in {
            color: $journal-gray;
        }

        .list_published_in {
            color: black;
            font-style: italic;
        }

        .list_pubyear {
            font-weight: bold;
            color: black;
        }
    }
}

#list_abstract {
    max-width: 82%;
    font: 12px 'Helvetica', sans-serif;
    font-size: 11px;
    line-height: 13px;
    padding-right: 0;
    padding-left: 0px;
    color: $abstract-gray;

    //border-left: solid 2.5px $okm-light-gray;
}

#list_area {
    font-family: 'Helvetica';
    font-size: 11px;
    line-height: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: black;
    display: inline-block;

    .area_tag {
        font-weight: bold;
    }
}

.link2 {
   
    display: block;
    margin-top: 10px;
   
}



.list_readers {
    font-size: 11px;
    line-height: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    float: right;
    color: black;
    display: inline-block;
    font-weight: bold;

    .list_readers_entity {
        font: 11px 'Helvetica' sans-serif;
        font-weight: normal;
    }
}

// Preview image part

div {
    &#preview_image {
        display: block;
        margin-top: 20px;
        margin-left: 15px;
    }

    &#transbox {
        display: none;
        cursor: pointer;
        opacity: .9;
        background-color: rgba(255, 255, 255, 0.6);
    }

    &#preview_page_index {
        font-size: 11px;
        height: 20px;
        margin-top: 15px;
        padding: 5px;
        text-align: center;
        background-color: #eee;
        text-shadow: 0 1px 1px white;
            
            &:first-child {
                margin-top:0px;
            }
        }
    }

img#preview_page {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: 1px solid;
}