@import "list-show-button";

#explorer_options {
    padding: 15px;
    background-color: $list_explorer_header;
}

#filter_container {
    vertical-align: top;
    float: none;
    display: inline-block;
}

#filter_input {
    padding-right: 22px;
}

#filter_parameter_container {
    vertical-align: top;
    float: none;
    display: inline-block;
}

#sort_container {
    vertical-align: top;
    float: none;
    display: none;
    font-family: $link-font-family;
}

.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default.active:focus, .btn-default.active.focus, .btn-default.focus, .open > .dropdown-toggle.btn-default {
    color: $journal-gray;
    background-color: $white;
    border-color: $journal-gray;
    font-weight: $fontweight700;
}

.btn-default {
    font-family: $link-font-family;
}

.btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}

.btn-default.active:hover, .btn-default:hover {
    background-color: $okm-clouds;
    color: black;
}

#sortby {
    margin-right: 5px;
    padding: 10px 0px;
    line-height: 250%;
    font-size: 12px;
    font-family: $link-font-family;
}

#filter_container input {
    width: 260px;
    margin-bottom: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 1650px) {
    #filter_container input {
        width: 240px;
    }
}

@media screen and (max-width: 1600px) {
    #filter_container input {
        width: 220px;
    }
}

@media screen and (max-width: 1500px) {
    #filter_container input {
        width: 200px;
    }
}

@media screen and (max-width: 1460px) {
    #filter_container input {
        width: 180px;
    }
}

@media screen and (max-width: 1220px) {
    .btn-sm, .btn-group-sm > .btn {
        font-size: 10px;
    }

    #sort-buttons {
        padding: 0px 0px;
        float: none !important;
    }

    #sortby {
        font-size: 10px;
    }
}

@media screen and (max-width: 1160px) {
    #sort_container {
        float: none;
        margin-top: 0px;
    }

    #filter_container {
        float: none;
    }
}

@if $skin == 'cris_vis' {

    #filter_container {
        vertical-align: top;
        float: left;
        display: block;
    }
    #filter_parameter_container {
        vertical-align: top;
        float: right;
        display: block;
    }

    #sort_container {
        vertical-align: top;
        float: right;
        display: none;
    }

    #filter_container input {
        margin-bottom: 0px;
        margin-right: 0px;
    }
    
    #explorer_options {
        border-bottom: 2px solid #EAEAEE;
    }

    @media screen and (max-width: 1000px) {
        #sort_container {
            float: none;
            margin-top: 10px;
        }

        #filter_container {
            float: none;
        }
    }
}