@import "list-show-button";

#explorer_header {
    background-color: $list_explorer_header;
}

#explorer_options {
    padding: 15px;
}

#filter_container {
    float: left;
    display: block;
}

#filter_input {
    padding-right: 22px;
}

#sort_container {
    float: right;
    display: none;
}

.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default.active:focus, .btn-default.active.focus, .btn-default.focus, .open > .dropdown-toggle.btn-default {
    color: white;
    background-color: $abstract-gray;
    border-color: $abstract-gray;
}

.btn-default.active:hover, .btn-default:hover {
    background-color: $okm-clouds;
    color: black;
}

#sortby {
    margin-right: 5px;
    padding: 10px 0px;
    line-height: 250%;
    font-size: 12px;
}

@media screen and (max-width: 1050px) {
    #sort_container {
        float: none;
    }

    #sort-buttons {
        padding: 5px 0px;
        float: none !important;
    }
}
