@import "list-show-button";

#explorer_header {
    background-color: $list_explorer_header;
}

#explorer_options {
    padding: 15px;
}

#filter_container {
    float: left;
    display: block;
}

#filter_input {
    padding-right: 22px;
}

#sort_container {
    float: right;
    display: none;
}

.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default.active:focus, .btn-default.active.focus, .btn-default.focus, .open > .dropdown-toggle.btn-default {
    color: white;
    background-color: #2c3d51;
    border-color: #2c3d51;
}

#sortby, #sort-buttons {
    vertical-align: middle;
}

#sortby {
    margin-right: 10px;
}

@media screen and (max-width: 1050px) {
    #sort_container {
        float: none;
    }

    #sort-buttons {
        padding: 5px 0px;
	float: none !important;
	}
}
