#show_hide_button {
    cursor: pointer;
    padding: 5px 0px;
    border: 2px solid $list_show_hide_button_border;
    background-color: white;
    color: $black;

    &.hover {
        background-color: $list_show_hide_button;
        color: white;
    }
}

#show_hide_button_label {
    font-family: $link-font-family;
    font-size: 12px;
    float: left;
    text-align: center;
}

#curr-filter-type, #curr-sort-type {
    font-weight: 800;
}