#show_hide_button {
    cursor: pointer;
    padding: 5px 0px;
    background-color: $list_show_hide_button;
    color: white;

    &.hover {
        background-color: white;
        color: $list_show_hide_button_hover;
    }
}

#show_hide_button_label {
    font-family: 'Helvetica';
    font-size: 14px;
    font-weight: 400;
    float: left;
    text-align: center;
}
