#show_hide_button {
    cursor: pointer;

    &.hover {
        background-color: #666;
        color: #eee;
    }
}

#show_hide_button_label {
    font-family: 'Helvetica';
    font-size: 14px;
    font-weight: 400;
    float: left;
    text-align: center;
}