<div class="list_subentry_statistic_distribution">
    <span class="list_subentry_statistic_distribution_icon"><span class="list_subentry_statistic_distribution_title"></span>: 
    <span class="list_subentry_statistic_distribution_number"></span></span>
</div>