<div class="list_subentry">
    <div class="list_subentry_metadata">
        <span class="list_subentry_title"></span> 
        (<span class="list_subentry_readers"></span> <span class="list_subentry_readers_entity"></span>)
    </div>
    <a class="list_subentry_showmore">
        <span class="list_subentry_showmore_text"></span>
        <span class="list_subentry_showmore_arrow_down fa fa-angle-down" aria-hidden="true"></span>
    </a>
    <a class="list_subentry_show_statistics">
        <span class="list_subentry_show_statistics_text"></span>
        <span class="list_subentry_show_statistics_numbers"></span>
        <span class="list_subentry_show_statistics_verb"></span>
        <span class="list_subentry_show_statistics_arrow_down fa fa-angle-down" aria-hidden="true"></span>
        <span class="list_subentry_show_statistics_arrow_up fa fa-angle-up" aria-hidden="true"></span>
    </a>
    <div class="list_subentry_statistics">
    </div>
</div>
