<div class="list_subentry">
    <div class="list_subentry_metadata">
        <span class="list_subentry_title"></span>
        <span id="list_subentry_readers" class="list_subentry_readers">
            (<span class="list_subentry_readers_count"></span> <span class="list_subentry_readers_entity"></span><a class="list_subentry_0_count" href="#" data-toggle="popover" data-placement="auto right" 
                                                          data-content="Diese Frage wurde von den Respondenten im Crowdsourcing 
                                                                nicht explizit genannt, sondern im Rahmen der Analyse aus Gr체nden 
                                                                der Vollst채ndigkeit hinzugef체gt. Daher wird sie hier mit 0 Nennungen angef체hrt.">
                    <span class="explanation_0_count">&nbsp;&#xf05a;</span></a>)
        </span>
    </div>
    <a class="list_subentry_showmore">
        <span class="list_subentry_show_link">
            <span class="list_subentry_showmore_text"></span>
            <span class="list_subentry_showmore_num"></span>
            <span class="list_subentry_showmore_verb"></span>
            <span class="list_subentry_showmore_arrow_down fa fa-angle-down" aria-hidden="true"></span>
        </span>
    </a>
    <a class="list_subentry_show_statistics">
        <span class="list_subentry_show_statistics_link">
            <span class="list_subentry_show_statistics_text"></span>
            <span class="list_subentry_show_statistics_verb"></span>
            <span class="list_subentry_show_statistics_arrow_down fa fa-angle-down" aria-hidden="true"></span>
            <span class="list_subentry_show_statistics_arrow_up fa fa-angle-up" aria-hidden="true"></span>
        </span>
    </a>
    <div class="list_subentry_statistics">
    </div>
</div>
