<div class="list_entry">
    <div class="list_visual_dstributions"></div>

    <div class="list_metadata">
<div class="list_readers">
            <span class="list_readers_entity"></span>:&nbsp;<span class="num_readers"></span>
        </div>
        <div class="list_title">
            <a id="paper_list_title" class="highlightable"></a>

        </div>
        <div class="highlightable">
            <div id="list_abstract"></div>
        </div>
        <div id="list_area">
            <span class="area_tag"></span> <span class="area_name"></span>
        </div>
        
    </div>
    
</div>
<div class="list_images">
    </div>