<div id="area_title" style="width:{{{ width_html }}}px; height:{{{ height_html }}}px;">
       <p class="area_visual_distributions"></p>
       <h2 class="highlightable">
             {{{ title}}}
       </h2>
 </div>