<div id="area_title" style="width:{{{ width_html }}}px; height:{{{ height_html }}}px;">
       <div id="area_{{{ area_uri }}}" class="area_visual_distributions"></div>
       <h2 class="highlightable">
             {{{ title}}}
       </h2>
 </div>