<div>
<button class="btn btn-primary" data-toggle="modal" data-type="text" href="#viper_edit_modal" id="editlink" title="Add project resources">
  <i class="fa fa-pencil fa-fw" aria-hidden="true">
  </i>
</button>
</div>