<div>
    <button title="share this map" class="btn btn-primary sharebutton"><i class="fa fa-share-alt fa-fw" aria-hidden="true"></i></button>
    <div class="sharebuttons">
        <a class="sharebutton_twitter" target="_blank">           
            <button class="btn btn-primary"><i class="fa fa-twitter-square fa-fw" aria-hidden="true"></i></button>
        </a>
        <a class="sharebutton_fb" target="_blank">
            <button class="btn btn-primary"><i class="fa fa-facebook-square"></i></button>
        </a>
        <a class="sharebutton_mail">
            <button class="btn btn-primary"><i class="fa fa-envelope-square"></i></button>
        </a>
    </div>
</div>