<!-- AddToAny BEGIN -->
<div>
        <button title="share this map" class="btn btn-primary a2a_dd" href="https://www.addtoany.com/share"><i class="fa fa-share-alt fa-fw" aria-hidden="true"></i></btn>
</div>
<script>
    var a2a_config = a2a_config || {};
    a2a_config.onclick = 1;
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->