<p>VIPER presents you with a topical overview of research on <b><span class="info-modal-title"></span></b> on <span class="info-modal-title"></span> papers taken from OpenAire.
  
<p>We use text similarity to create a knowledge map. The algorithm groups those papers together that have many words in common.

<h3>Project Details</h3>
<table class=table>
  <tbody>
    <tr>
      <th>Title</th>
      <td ><span class="info-modal-title"></span></td>
    </tr>
    <tr>
      <th>Funding</th>
      <td ><span class="info-modal-funding_tree"></span></td>
    </tr>
    <tr>
      <th>Call</th>
      <td ><span class="info-modal-call_id"></span></td>
    </tr>
    <tr>
      <th>Contract (GA) number</th>
      <td ><span class="info-modal-project_id"></span></td>
    </tr>
    <tr>
      <th>Start Date</th>
      <td ><span class="info-modal-start_date"></span></td>
    </tr>
    <tr>
      <th>End Date</th>
      <td ><span class="info-modal-end_date"></span></td>
    </tr>
    <tr>
      <th>Open Access mandate</th>
      <td ><span class="info-modal-oa_mandate"></span></td>
    </tr>
    <tr>
      <th>Special Clause</th>
      <td <span class="info-modal-special_clause"></span>></td>
    </tr>
    <tr>
      <th>Organizations</th>
      <td ><span class="info-modal-html_organisations"></span></td>
    </tr>
    <tr>
      <th>OpenAire Link</th>
      <td ><span class="info-modal-html_openaire_link"></span></td>
    </tr>
  </tbody>
</table>