<!-- Modal -->
<div id="info_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" style="font-size: 20px;"></h3>
      </div>
      <div class="modal-body">
      </div>
    </div>

  </div>
</div>