<div class="scale-toolbar btn-group dropup">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="scale-menu" type="button" data-toggle="dropdown">
            {{scale_by_label}}
            <span id="curr-scale-type"></span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="scale-menu">
        </ul>
        <span id="curr-scale-explaination"></span>
    </div>
</div>