<div>
<button class="btn btn-primary" data-toggle="modal" data-type="text" href="#viper_edit_modal" id="vipereditlink" title="Add project resources">
  <i class="fa fa-pencil-square-o" aria-hidden="true">   
  </i>
</button>
</div>