<!-- Modal -->
<div id="viper_edit_modal" class="modal fade" role="dialog" tabindex='-1'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">&times;</button>
        <h3 id="edit-title" class="modal-title" style="font-size: 20px;"></h3>
      </div>
      <div id="edit-body" class="modal-body">
        <div id="edit-modal-text"></div>
        <img id="viper-edit-screenshot" alt="OpenAire Project Page Screenshot">
        <a class="btn btn-default" id="viper-edit-button"></a>
      </div>
    </div>

  </div>
</div>