/* ################ Chart ############### */

.headstart div#headstart-chart
{
    /*position: absolute;*/
    font-family: Helvetica;
    /*margin-top: 6px;*/
}

.headstart #chart-svg
{
    overflow-x: scroll;
}
.headstart rect
{
    fill: rgb(31, 119, 180);
    fill-opacity: .0;
    stroke: rgb(31, 119, 180);
    stroke-width: 0;
}

.headstart circle
{
    /*fill: rgb(31, 119, 180);
  fill-opacity: .25;*/
    fill: rgb(210, 228, 240);
    fill-opacity: .8;
    stroke: rgb(31, 119, 180);
    stroke-width: 1px;
}

.headstart circle.zoom_unselected
{
    fill: rgb(31, 119, 180);
    fill-opacity: .1;
    stroke-width: 0;
}

.headstart circle.zoom_selected
{
    /*fill: rgb(31, 119, 180);*/
    fill-opacity: 1;
    /*fill: rgb(219, 233, 243);*/
    fill: rgb(241, 246, 250);
    stroke-width: 1px;
}

.headstart circle.area
{
    fill: rgb(210, 228, 240);
    fill-opacity: .8;
}

.headstart path
{
    fill: rgb(255, 255, 255);
    fill-opacity: .25;
    stroke: rgb(128, 128, 128);
    stroke-width: 1px;
}

.headstart .framed
{
    stroke: #e55137;
    stroke-width: 3px;
}

.headstart .framed_recommended
{
    stroke: yellow;
    stroke-width: 3px;
}

.headstart .framed_bookmarked
{
    stroke: green;
    stroke-width: 2px;
}

.headstart .recommended
{
    font-size: 10pt;
    font-weight: bold;

    color: black;
    border: 1px yellow solid;
    background-color: yellow;
}

.headstart .bookmarked
{
    font-size: 10pt;

    color: black;
    border: 1px green solid;
}

.headstart .tobookmark
{
    font-size: 10pt;
    font-weight: bold;

    color: white;
    border: 1px green solid;
    background-color: green;
}

.headstart line
{
    stroke: rgb(31, 119, 180);
    stroke-width: 1px;
}

.headstart div#subdiscipline_title
{
  margin: 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.headstart div#area_title
{
    margin: 0;
    padding: 0;
}


.headstart div#area_title h2
{
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: bold;

    margin-top: 11px;
    margin-bottom: 11px;
    padding: 0;

    text-align: center;
    text-transform: none;

    color: black;
    background-color: transparent;
}

.headstart text
{
    font: 10px sans-serif;
}

.headstart foreignobject body
{
    position: static;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    word-break: break-all;

    background-color: transparent;
}

/* ################ Papers ############### */
.headstart foreignobject#article_metadata body,
.headstart foreignobject#area_title_object body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: transparent;
}

.headstart foreignobject#area_title_object.is_hidden
{
    visibility: hidden;
}

.headstart div.metadata
{
    /*word-wrap: break-word;*/
    overflow: hidden;

    margin: 0;
    padding: 0;
    /*white-space: pre-wrap;*/

    white-space: -moz-pre-wrap;
}

.headstart foreignobject#article_metadata
{
    font-family: Helvetica;
    line-height: 10px;

    overflow: hidden;
}

.headstart div#intro
{
    font-family: Helvetica;

    padding: 10px;

    background-color: white;
}

.headstart div#intro h2
{
    font-family: Helvetica;
    font-size: 16px;

    margin-bottom: 0;
    padding: 0;

    color: black;
    background-color: transparent;
}

.headstart div#intro h3
{
    padding: 0;
}

.headstart div#intro p
{
    font: 14px 'Helvetica', sans-serif;

    margin-bottom: 10px;
    padding: 0;

    color: black;
}

.headstart div#intro ul
{
    margin-bottom: 10px;

    list-style: disc;
}

.headstart div#intro li
{
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;

    margin-bottom: 0;
    margin-left: 11px;
    margin-left: 11px;
    padding-left: 11px;
}

.headstart div#article_metadata p,
.headstart div.metadata p,
.headstart div.readers p
{
    font: 8px 'Helvetica', sans-serif;
    line-height: 8px;

    margin: 0;
    padding: 0;

    text-align: left;

    color: rgb(167, 8, 5);
}

.headstart div.readers
{
    overflow: hidden;
}



.headstart div#article_metadata p.large,
.headstart div.metadata p.large,
.headstart div.readers p.large
{
    font-size: 12px;
    line-height: 12px;

    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    /*font-weight:bold;*/
}

.headstart div#article_metadata p.larger,
.headstart div.metadata p.larger,
.headstart div.readers p.larger
{
    font-size: 14px;
    line-height: 14px;

    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 5px;
}

.headstart p#details
{
    /*margin-top: 3px;*/
    padding-top: 3px;
    padding-left: 5px;

    color: rgb(33, 101, 0);
}

.headstart p#in
{
    padding-right: 0;

    color: rgb(102, 102, 102);
}

.headstart span.pubyear
{
    font-style: italic;

    color: rgb(0, 0, 0);
}

.headstart div#area_title
{
    display: table-cell;
    overflow: hidden;

    vertical-align: middle;
}

.headstart div.readers
{
    margin-top: 0;
    padding-right: 5px;
    padding-bottom: 0;

    text-align: right;

    color: rgb(0, 0, 0);
}

.headstart div.readers_large
{
    margin-top: 0;
    padding-right: 5px;
    padding-bottom: 3px;

    text-align: right;

    color: rgb(0, 0, 0);
}

.headstart p#readers
{
    line-height: 8px;

    padding: 0;

    text-align: right;
    vertical-align: text-bottom;

    color: rgb(0,0,0);
}

.headstart p#readers.large
{
    margin-bottom: 3px;
    padding: 3px 2px 0 0;
}

.headstart p#readers.larger
{
    padding: 3px 2px 0 0;
}

.headstart span.readers_entity
{
    font: 8px 'Helvetica' sans-serif;
    font-weight: normal;

    color: rgb(102, 102, 102);
}

/* ################ List Explorer ############### */

.headstart #list_explorer
{
/*    margin-top: -27px;
    margin-bottom: -27px;
    position: relative;*/
}

.headstart #explorer_header
{
    background-color: #eee;
}

.headstart #show_hide_button
{
    cursor: pointer;
}

.headstart #show_hide_button.hover
{
    background-color: #666;
    color: #eee;
}

.headstart #show_hide_button_label
{
    font-family: 'Helvetica';
    font-size: 14px;
    font-weight: 400;

    float: left;

    text-align: center;
}

.headstart #explorer_options
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.headstart #filter_container
{
    float: left;
    display: block;
}

.headstart #filter_input
{
    padding-right: 22px;
}

.headstart #sort_container
{
    float: right;
    display: none;
}

.headstart #papers_list
{
    float: right;
    overflow-y: scroll;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;

    display: none;
}

.headstart div.list_metadata
{
    border-top-width: 1px;
    border-top-style: solid;
}

.headstart div.list_metadata p,
.headstart .list_details p
{
    font: 12px 'Helvetica', sans-serif;

    padding: 0;
}

.headstart p#list_title
{
    font-size: 14px;

    margin-top: 7px;
    margin-bottom: 5px;
    padding: 0;
    /*line-height: 18px;*/
}

.headstart p#list_title a
{
    text-decoration: none;

    color: rgb(167, 8, 5);
}

.headstart p#list_title a:hover
{
    text-decoration: underline;
}

.headstart .list_details
{
    font-size: 12px;
    line-height: 14px;

    margin-top: 3px;

    color: rgb(33, 101, 0);
}

.headstart p#list_abstract
{
    font: 12px 'Helvetica', sans-serif;
    font-size: 11px;
    line-height: 11px;

    padding-right: 0;
    padding-left: 7px;

    color: rgb(68, 68, 68);
    border-left: solid 2.5px rgb(233,233,233);
}

.headstart span.list_in
{
    color: rgb(102, 102, 102);
}

.headstart span.list_pubyear
{
    font-style: italic;

    color: rgb(0, 0, 0);
}

.headstart p#list_area
{
    font-family: 'Helvetica';
    font-size: 11px;
    line-height: 11px;

    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;

    text-align: left;

    color: rgb(0,0,0);
}

.headstart p#list_readers
{
    font-size: 11px;
    line-height: 11px;

    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;

    text-align: right;
    vertical-align: text-bottom;

    color: rgb(0,0,0);
}

.headstart span.list_readers_entity
{
    font: 11px 'Helvetica' sans-serif;
    font-weight: normal;

    color: rgb(102, 102, 102);
}

.headstart div#preview_image
{
    display: block;

    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

    border: 1px solid;
}

.headstart div#transbox
{
    display: none;

    cursor: pointer;

    opacity: .9;
    background-color: rgba(255,255,255,.6);
}

.headstart div#preview_page_index
{
    font-size: 11px;

    height: 20px;
    margin-top: 15px;
    padding: 5px;

    text-align: center;

    background-color: #eee;
    text-shadow: 0 1px 1px white;
}

.headstart img#preview_page
{
    display: block;

    margin-right: auto;
    margin-left: auto;

    text-align: center;

    border: 1px solid;
}

.headstart .title-small
{
    font-size: 18px;
}

.headstart .title-large
{
    font-size: 18px;
}

/* ########### Paper Frame/Popup ########### */

.headstart div#paper_frame
{
    z-index: 999;

    background-color: rgba(255,255,255,.6);
}

.headstart div#paper_frame_inner
{
    display: block;

    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;

    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    /*float: right;*/
}

.headstart div#paper_frame_bar
{
    margin-top: 5px;
    margin-bottom: 5px;
    /*float: right;*/

    cursor: pointer;
}

.headstart div#shadow-top
{
    height: 5px;

    box-shadow: inset 0 8px 8px -8px #333;
}

.headstart div#shadow-bottom
{
    height: 5px;

    box-shadow: inset 0 -8px 8px -8px #333;
}

.headstart div#preview
{
    overflow: auto;
    overflow-y: scroll;

    padding-top: 5px;
    padding-bottom: 5px;

    background-color: #eee;

    align: center;
}

/* ########### Filters ############## */

.headstart .filter li
{
    float: left;

    margin: 0;
    padding: 0;

    list-style-type: none;

    background: #e9e9e9;
}

.headstart .filter li a
{
    font-family: Helvetica;

    position: relative;

    display: block;
    float: left;
    overflow: hidden;

    margin-left: -1px;
    padding: 5px 8px;

    -webkit-transition: .2s;
    text-decoration: none;

    color: #333;
    border: 1px solid #c6c6c6;
    background: #e9e9e9;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0);
       -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0);
            box-shadow: inset 0 1px 3px rgba(0,0,0,0);
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
}

.headstart .filter li a:hover
{
    z-index: 2;

    text-decoration: none;

    border-color: #939393;
}

.headstart .filter li:first-child a
{
    margin-left: 0;
    padding-left: 10px;

    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
}

.headstart .filter li:first-child
{
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
}

.headstart .filter li:last-child a
{
    padding-right: 10px;

    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
}

.headstart .filter li a.selected
{
    z-index: 3;

    float: left;

    -webkit-transition: .2s;

    color: #fff;
    border: 1px solid #1e6a8d;
    background: #489ac0;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
       -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
            box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.headstart img#close-button
{
    float: right;

    margin-right: 5px;
}

/* ########### Timeline ########### */

.headstart line.connection
{
    stroke: rgb(255,0,0);
    stroke-width: 2;
}

.headstart line
{
    stroke: rgb(0,0,0);
    stroke-width: .15px;
}

.headstart .tl-title
{
    float: left;

    text-align: center;
}

/* ########### Modals ########### */

.headstart #iframe_modal .modal-body {
    height: 75vh;
    width: 100%;
    display: table;
}

.headstart #spinner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.glyphicon-refresh {
    font-size: 3em;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.headstart #pdf_iframe {
    width: 100%;
    height: 100%;
}

/* ########### Bootstrap Customisation ########### */

/* Create a very small input group*/
.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* Clear button in input form */
#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;

    display: none;
    z-index: 100;
}

.remove-padding {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0
}
