* {
    box-sizing: content-box;
}

body {
    font-family: 'Lato', sans-serif; 
    padding: 0px;
    width:100%; 
    color: #333;
    font-size: 20px;
    background-color: #f7f7f7;
    margin: 0;
}

header {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1;
    z-index: 100;
}

a {
    color: #1e6662;
    text-decoration: underline;
    font-weight: normal;
}

.about {
    background: linear-gradient(rgb(44, 161, 181), rgb(30, 102, 98));
    background-repeat: no-repeat;
}

.about-text {
    color: white;
    padding: 200px 0px 100px 100px; 
    max-width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.about-image {
    max-width: 40%;
    display: inline-block;
    vertical-align: middle;
    padding-top: 100px;
}

.about-paragraph {
    max-width: 750px; 
    font-size: 22px; 
    font-weight: 300;
}

.description a:hover {
    color: #1e6662;
}

.headline {
    font-weight: 300;
    font-size: 36px; 
    max-width: 750px; 
    font-weight: 700;
}

.search-btn {
    font-family: 'Lato', sans-serif;
    max-width: 400px;
    display: block;
    text-align: center;
    margin: 40px 0 0;
    padding: 20px 0;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    font-size: 22px;
    background-color: transparent;
    /*background-image: linear-gradient(rgb(44, 161, 181), rgb(44, 161, 181));*/ 
    color: white; width:100%; padding: 10px 3px;
    border: 3px solid white;
    color: white;
    text-decoration: none;
}

.search-btn:hover {
    background-image: linear-gradient(rgb(30, 102, 98), rgb(30, 102, 98));
    border: 3px solid #1e6662;
    cursor: pointer;
}

.contact-btn {
    font-family: 'Lato', sans-serif;
    text-align: center;
    display: block;
    max-width: 300px;
    margin: 20px auto 0;
    padding: 20px;
    border-radius: 17px; 
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    font-size: 22px;
    background-image: linear-gradient(rgb(30, 102, 98), rgb(30, 102, 98));
    /*background-image: linear-gradient(rgb(44, 161, 181), rgb(44, 161, 181));*/ 
    color: white; width:100%; padding: 10px 3px;
    border: 3px solid transparent;
    color: white;
    text-decoration: none;
}

.contact-btn:hover {
    background-image: none;
    border: 3px solid #1e6662;
    cursor: pointer;
    color: #1e6662;
}

.contribution {
    background-color: white; 
    text-align: center; 
    display: block;
    padding: 50px 20px;
}

.headline3 {
    font-size: 36px; 
    color: #1e6662;
    font-family: 'Lato', sans-serif;
}

.link1 {
    font-size: 22px; 
    font-weight: 300;
}

.anchor {
    display: block;
    height: 110px;
    margin-top: -116px;
    visibility: hidden;
}

/*Other pages*/

.name-list {
    margin:0; 
    padding: 0;
}

.name-list li {
    list-style: none;
    line-height: 150%;
}

.list-style li, .list-style li {
    padding: 0px 0px 20px;
}

.example {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}
.question {
    padding: 40px 0px 20px; 
    margin: 0px;
    font-size: 24px;
    line-height: 150%;;
    font-weight: normal;
}

.paragraph-style li {
    margin-left: 40px;
    font-weight: 300;
}

.page-section {
    max-width:750px; 
    margin: 0px auto 40px;
}

.page-headline {
    font-family: 'Lato', sans-serif;
    color: #1e6662;
    font-size: 42px;
    margin-top: 90px;
}

.page {
    max-width: 1200px;
    margin: 0px auto;
    padding: 90px 20px 0;
}

.page2 {
    margin: 0px auto;
    padding: 90px 50px 50px;
}

.paragraph-style {
    padding: 0px 0 20px;
    margin: 0;
    font-weight: 300;
}

.shadow2 {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.abstand {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

.about-image-mobile {
    display: none;
}

/*FOOTER*/
footer {
    font-size: 18px;
    color: #333;
    line-height: 1.2;
    border-top: 1px solid #e7e7e7;
    z-index: 99;
}

footer a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 300;
    color: #1e6662;
    line-height: 120%;
}

.builtby {
    background-color: #f7f7f7;
    padding: 50px;
    font-weight: 300;
    position: relative;
    display: block;
}

.builtby-container {
    max-width:1600px; 
    width:100%; 
    margin:0px auto; 
    text-align:center; 
    padding-top:20px;
}

.info h3 {
    font-size: 20px;
    font-family:'Lato', sans-serif;
    font-weight: normal;
    color: #1e6662;
    font-style: normal;
    margin-top: 0px;
    padding-bottom: 18px;
}

.logoimg {
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    height: 60px;
    margin-top: 10px;
    background-color:white;
    border: 1px solid #f7f7f7;
}

.info {
    display:inline-block; 
    vertical-align:top;
    font-weight: 300;
    margin-right: 40px;
    max-width: 22%;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}

.info p, .info ul {
    padding: 0 0 10px;
    font-weight: 300 !important;
    font-family:'Lato', sans-serif !important;
    margin: 0px;
}

.nav_bottom {
    display: block;
    background-color: transparent;
    line-height: 180%;
    padding: 0px 0px 0px;
}

.nav_bottom a, .linkvar1 {
    text-decoration: none;
    border-bottom: 1px solid #1e6662;
    font-style: normal;
    font-weight: 300;
}

.nav_bottom a:hover, .nav_bottom a:active, .nav_bottom a:focus, .linkvar1:hover,  .linkvar1:focus, .linkvar1:active {
    text-decoration: none;
    color: #1e6662 !important;
    border-bottom: 2px solid #1e6662;
}

.info ul {
    list-style: none;
}

.awesome {
    font-family: 'FontAwesome';
}

.funding-container {
    font-size: 14px;
}

.funding-flag {
    max-width: 50px; 
    vertical-align: bottom; 
    margin-right: 2px;
}

/*Errors table*/

.errors-table {
    background-color: #f7f7f7;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
}

.top-row {
    background-color: #1e6662;
    color: white;
}

/*Cookie banner*/
.cc-color-override-446009254.cc-window {
    color: #333 !important;
    background-color: white !important;
    border-top: 1px solid #e7e7e7;
    font-family: 'Lato', sans-serif !important;
}

.cc-color-override-446009254 .cc-btn {
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    border-color: transparent;
    background-color: #1e6662 !important;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border: 3px solid transparent;
    text-decoration: none !important;
}

.cc-color-override-446009254 .cc-btn:hover, .cc-color-override-446009254 .cc-btn:focus {
    background-color: transparent !important;
    color: #1e6662;
    border: 3px solid #1e6662;
    text-decoration: none !important;
}

/*Team Page*/
.member img {
    /*width: 100%;*/
}

.member img {
    max-width: 165px;
    text-align: center;
}

.member {
    max-width: 200px;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.member ul {
    display: block;
    text-align:left;
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 0;
}

.member ul li {
    list-style: none;
    line-height: 140%;
}

.contact-member li {
    display: inline-block;
    margin: 0 5px;
    font-size: 16px;
    list-style: none;
}

.contact-icon {
    text-align: center;
    border-radius: 40px;
    -moz-border-radius: 40px;
    width: 40px;
    height: 40px;
    background-color: #eaeaea;
    display: inline-block;
    vertical-align: middle;
}

.contact-icon .fa {
    vertical-align: top;
    top: 10px;
    position: relative;
}

#members {
    width:100%;
    max-width: 1000px;
}

.name {
    font-weight: bold;
    color: #1e6662;
}

.job-title, .country {
    font-weight: 300;
}

@media screen and (max-width: 1200px) {

    .headline, .page-headline {
        font-size: 30px;
    }

    .about-paragraph, .search-btn, .link1, .headline3, .contact-btn, .question, body { 
        font-size: 18px;
    }

    .about-text {
        max-width: 40%;
    }
}

@media screen and (max-width:1500px) {
    .funding-text {
        display: inline-block;
        margin-top: 5px;
    }
}

@media screen and (max-width:1140px) {
    .builtby-container {
        text-align:left;
    }
}

@media screen and (max-width: 900px) {

    .about-text {
        max-width: 400px;
        display: inline-block;
        padding: 100px 20px 50px 50px;
    }

    .about-image {
        display: inline-block;
        max-width: 300px;
    }

    .info {
        max-width: 300px;
    }
}

@media screen and (max-width: 800px) {

    .about-text {
        max-width: 100%;
        padding: 100px 20px 50px 20px;
    }

    .about-image {
        display: none;
    }

    .page-headline {
        margin-top: 0px;
    }

    .question {
        padding: 20px 0 10px;
    }
}

@media screen and (max-width:550px) {
    
    .member {
        margin: 10px 10px;
        width: 33%;
    }
    
    .member img {
        max-width:120px;
    }
    
    .member ul, .name-list li {
        font-size: 14px;
    }
}

@media screen and (max-width:500px) {
    
    .builtby {
        padding: 20px;
    }
}